/*============= RESETS =============*/
/* font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

/*-- iPhone X Remove Gutters --*/
html {
  padding: env(safe-area-inset);
}
  
html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-catamaran-reg);
  line-height: 1.5;
}

/*============= SCROLLBAR =============*/
::-webkit-scrollbar {
  width: 12px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--primary-color);
}

/*============= HIGHLIGHT =============*/
::selection {
  color: #fff;
  background: #000;
}

/*============= LIGHTBOX =============*/
.fslightbox-absoluted {
  transition: none;
}

/*============= START NAVIGATION =============*/

.navbar {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 40px 130px;
  width: 100%;
  z-index: 1000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.6s;
  /* border-bottom: 1px solid #111; */
}

.navbar .container-fluid {
  padding: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar #nav-logo {
  font-size: 30px;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.navbar #nav-logo img {
  height: 50px;
}

.navbar ul {
  padding: 0;
  margin: 3px 0 0 0;
}

.navbar ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.navbar ul li.active > a {
  color: #fff !important;
}

.navbar ul li a {
  position: relative;
  font-size: 16px;
  padding: 30px 15px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400 !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navbar ul li a:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 0;
  background: #fff;
  left: 50%;
  transform: translate(-50%,10px);
  bottom: 17px;
  opacity: 0;
  transition: .3s ease;
}

.navbar ul li a:hover:before {
  opacity: 1;
  transform: translate(-50%,0);
}

.navbar .container-fluid .row {
  align-items: center;
}

.row:after {
  clear: both;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navbar ul li a:hover, .navbar ul li a:focus, .navbar ul li a:active {
  color: #fff;
}

/*-- Mobile Navigation --*/
.navbar-toggle {
  position: fixed;
  right: 5px;
  top: 54px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
  cursor: pointer;
  text-decoration: none;
  transition: 0.45s ease;
}

.navbar-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}

.navbar-toggle i::before {
  top: -8px;
}
.navbar-toggle:hover i::before {
  top: -10px;
}

.navbar-toggle i::before, .navbar-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: top .1s ease-out, bottom .1s ease-out, transform 0.3s ease-out;
}

.navbar-toggle i::after {
  bottom: -8px;
}
.navbar-toggle:hover i::after {
  bottom: -10px;
}

#navbar-offcanvas {
  position: absolute;
  position: fixed;
  z-index: 1901;
  width: 270px;
  background: var(--secondary-color);
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 140px 0 40px ;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#navbar-offcanvas.js-navbar-toggled {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#navbar-offcanvas ul {
  padding: 0;
  margin: 0;
}

#navbar-offcanvas ul li {
  padding: 20px 40px;
  margin: 0;
  list-style: none;
}

#navbar-offcanvas a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

#navbar-offcanvas li:hover a {
  color: rgba(0, 0, 0, 0.8);
}

.offcanvas #navbar-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.navbar-toggle.js-navbar-toggled i {
  background: transparent;
}

.navbar-toggle.js-navbar-toggled i::before {
  top: 0;
  -webkit-transform: rotateZ(
45deg
);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(
45deg
);

}
.navbar-toggle.js-navbar-toggled i::before, .navbar-toggle.js-navbar-toggled i::after {
  background: #444;
}

.navbar-toggle.js-navbar-toggled i::after {
  bottom: 0;
  -webkit-transform: rotateZ(
-45deg
);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(
-45deg
);
}

#navbar-offcanvas ul li.active a {
  color: #000;
}

/* On Scroll Navbar */
.navbar.scrolled, .navbar.navbar-active {
  padding: 0;
  background-color: var(--primary-color);
  box-shadow: rgb(0 0 0 / 50%) 0 3px 10px;
  /* box-shadow: rgb(0 0 0 / 12%) 0 1px 3px; */
}

.navbar-toggle.scrolled {
  right: 5px;
  top: 28px;
}

.navbar-toggle.nav-up, .navbar-toggle.navbar-active.nav-up {
  top: -45px;
}

.navbar-toggle.js-navbar-toggled.nav-up {
  top: 20px !important;
}

.nav-up {
  top: -90px;
}

/*============= END NAVIGATION =============*/

/*============= START LANDING =============*/

.splide-landing * {
  transition: none;
}

.splide__slide {
  position: relative;
}

.splide__slide img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.landing-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-caption h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.15rem;
  line-height: 1.1;
  font-family: 'Lato', sans-serif;
  color: var(--primary-color);
  text-align: center;
}

.landing-caption .first-heading {
  font-size: 7rem;
}

.landing-caption hr {
  background: var(--light-color);
  margin: 0.4rem auto 0.8rem;
  height: 2px;
  width: 80%;
}

.landing-caption h3 {
  font-family: 'Lato', sans-serif;
  color: var(--light-color);
  max-width: 60%;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.landing-caption .btn-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
}

/* Scroll */

.c-scroll-icon {
  width: 21px;
  height: 100px;
  transform: translate3d(-50%,0%,0);
  position: absolute;
  left: 50%;
  bottom: 50px;
  backface-visibility: hidden;
}

.c-scroll-icon .c-scroll-icon-line-mask {
  position: relative;
  overflow: hidden;
  width: 21px;
  height: 100px;
  margin: 0 auto;
}
.c-scroll-icon .c-scroll-icon-line {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 150px;
  border-left: 1px solid #fff;
  top: -150px;
  left: 10px;
  animation: scroll-line 3s infinite;
  transition: all cubic-bezier(0.785,0.135,0.15,0.86);
}
@keyframes scroll-line {
  0% {
    transform: translate3d(0,0,0);
 }
  40% {
    transform: translate3d(0,185px,0);
 }
  75% {
    transform: translate3d(0,175px,0);
 }
  100% {
    transform: translate3d(0,280px,0);
 }
}
.c-scroll-icon-triangle {
  position: relative;
  width: 20px;
  height: 30px;
  margin: -10px auto 0;
  animation: triangle-bounce 3s infinite;
}
.c-scroll-icon-triangle-mask {
  position: absolute;
}
.c-scroll-icon-triangle-mask.first {
  width: 40px;
  height: 5px;
  right: 0;
  overflow: hidden;
}
.c-scroll-icon-triangle-mask.right {
  width: 10px;
  height: 30px;
  overflow: hidden;
  right: 0;
}
.c-scroll-icon-triangle-mask.left {
  width: 10px;
  height: 30px;
  overflow: hidden;
  left: 1;
}
.c-scroll-icon-triangle-mask.last {
  width: 40px;
  height: 5px;
  overflow: hidden;
}
.c-scroll-icon-triangle-line {
  position: absolute;
}
.c-scroll-icon-triangle-line.first {
  border-bottom: 1px solid #fff;
  width: 30px;
  right: 0;
  animation: triangle-first 3s infinite;
  transition: all 600ms cubic-bezier(0.785,0.135,0.15,0.86);
}
.c-scroll-icon-triangle-line.right {
  border-left: 1px solid #fff;
  height: 44px;
  transform: rotate(-163deg);
  right: 5px;
  top: -6px;
  animation: triangle-right 3s infinite;
  transition: all 600ms cubic-bezier(0.785,0.135,0.15,0.86);
}
.c-scroll-icon-triangle-line.left {
  border-left: 1px solid #fff;
  height: 40px;
  transform: rotate(163deg);
  left: 5px;
  top: -3px;
  animation: triangle-left 3s infinite;
  transition: all 0.6s cubic-bezier(0.785,0.135,0.15,0.86);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.c-scroll-icon-triangle-line.last {
  border-bottom: 1px solid #fff;
  width: 120px;
  left: 0;
  animation: triangle-last 3s infinite;
  transition: all 600ms cubic-bezier(0.785,0.135,0.15,0.86);
}
@keyframes triangle-bounce {
  0% {
    transform: translate3d(0,-5px,0);
 }
  50% {
    transform: translate3d(0,5px,0);
 }
  100% {
    transform: translate3d(0,-5px,0);
 }
}
@keyframes triangle-first {
  0%, 20% {
    transform: translate3d(-40px,0,0);
 }
  30%, 80% {
    transform: translate3d(10px,0,0);
 }
  85%, 100% {
    transform: translate3d(30px,0,0);
 }
}
@keyframes triangle-right {
  0%, 25% {
    transform: rotate(-163deg) translate3d(0,40px,0);
 }
  40%, 84% {
    transform: rotate(-163deg) translate3d(0,0,0);
 }
  90%, 100% {
    transform: rotate(-163deg) translate3d(0,-37px,0);
 }
}
@keyframes triangle-left {
  0%, 33% {
    transform: rotate(163deg) translate3d(0,-34px,0);
 }
  50%, 88% {
    transform: rotate(163deg) translate3d(0,0,0);
 }
  95%, 100% {
    transform: rotate(163deg) translate3d(0,38px,0);
 }
}
@keyframes triangle-last {
  0%, 87.5% {
    transform: translate3d(-120px,0,0);
 }
  91% {
    transform: translate3d(-80px,0,0);
 }
  100% {
    transform: translate3d(45px,0,0);
 }
}

/*============= END LANDING  =============*/

/*============= START CONTACT SECTION =============*/
/*--- Start Contact Form --*/

/*--- End Contact Form --*/
/*============= END CONTACT SECTION =============*/

/*============= START FOOTER =============*/
/*============= END FOOTER =============*/

.about-inner {
  background-color: transparent;
    padding-top: 90px;
    padding-bottom: 5px;
}

.text-wrapper {
  position: relative;
    direction: rtl;
    margin-bottom: 7rem;
}

.img-wrapper {
  width: 59.2%;
  position: absolute;
  left: 0;
  top: -150px;
}

.img-wrapper img {
  width: 100%;
  height: auto;
}

.text-content {
  margin-bottom: 0;
    position: relative;
    padding: 34px 140px 70px 40px;
    width: 51.8%;
    margin-top: 150px;
    min-height: 400px;
    text-align: left;
    direction: ltr;
    background-color: var(--light-color);
}

.text-content h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: var(--font-catamaran-bold);
  font-weight: 800;
}

.text-content p {
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0;
  text-transform: none;
  padding: 0;
  margin-top: 10px;
}

.text-wrapper-left {
  direction: ltr;
}

.text-wrapper-left .img-wrapper {
  left: auto;
  right: 0;
}

.about-services {
  margin-bottom: 16rem;
}

.services-about-img img {
  max-width: 100%;
  height: auto;
}

.services-byline {
  color: var(--primary-color);
  font-family: var(--font-catamaran-bold);
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 2.2px;
  margin-bottom: 16px;
}

.services-list h3 {
  color: #495157;
  font-family: var(--font-catamaran-reg);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 44px;
  padding-right: 160px;
}

ul.list-1,
ul.list-2 {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
}

ul.list-1 li,
ul.list-2 li {
  margin-bottom: 20px;
  font-family: var(--font-catamaran-light);
  font-size: 16px;
}

.services-link,
.services-link a {
  font-size: 16px;
  color: var(--primary-color);
}

.custom-shape-divider-top-1657654572 {
  position: absolute;
  bottom: -128px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1657654572 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 129px;
}

.custom-shape-divider-top-1657654572 .shape-fill {
  fill: #FFFFFF;
}

#home-services {
  background-color: var(--secondary-color);
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.section-header h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

#home-services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 30px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#home-services .box:hover {
  transform: scale(1.1);
}

#home-services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  background: var(--secondary-color) !important;
  height: 60px;
}

#home-services .icon svg {
  fill: var(--dark-color) !important;
}

#home-services .icon .service-icon {
  font-size: 36px;
  line-height: 1;
}

#home-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#home-services .title a {
  color: #111;
}

#home-services .box:hover .title a {
  color: var(--primary-color);
}
#home-services .box:hover .title a:hover {
  text-decoration: none;
}
#home-services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

.step-content {
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

.process-content {
  position: relative;
    width: 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.process-numbers {
  position: relative;
    z-index: 1;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: -55px;
    text-align: center;
}

.process-numbers .text-block {
  position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: #373f42;
    font-size: 17px;
    line-height: 19px;
    font-weight: 700;
    text-align: center;
}

.process-box {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.process-box-img {
  width: 60px;
    height: 60px;
    background-image: url(../img/computer.svg);
    /* background-position: 0px 0px; */
    background-size: 55px;
    background-repeat: no-repeat;
}

.process-content-2 .process-box-img {
  background-image: url(../img/time.svg);
}

.process-content-3 .process-box-img {
  background-image: url(../img/garage.svg);
}

.process-content-4 .process-box-img {
  background-image: url(../img/car.svg);
}

.process-box-title {
  padding-left: 15px;
}

.process-box-title h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-style: normal;
}

.process-details p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

.process-content+.process-content .process-numbers::after {
  left: -148px;
  width: 90%;
}

.process-numbers::after {
  content: "";
  background-color: var(--secondary-color);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 10px;
  left: -140px;
  z-index: 2;
}

.process-content-1 .process-numbers::after {
  background-color: transparent;
}

/* .step-title {
  margin-top: 5rem;
}

.step-title h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
  margin-bottom: 2.5rem;
} */

.about-header .polaris-heading {
  margin-bottom: 1rem;
}

#step-by-step .polaris-heading {
  margin-top: 4rem;
}

#step-by-step .polaris-heading h1 {
  /* width: 48%; */
  color: var(--dark-color);
}

#step-by-step .polaris-heading h1::before,
#step-by-step .polaris-heading h1::after {
  background-color: var(--dark-color);
}

.custom-shape-divider-top-1657769577 {
  position: absolute;
  bottom: -180px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1657769577 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 109px;
}

.custom-shape-divider-top-1657769577 .shape-fill {
  fill: #FFFFFF;
}

/* Start Carousel Section */
.testimonial-carousel {
  max-width: 1180px;
  margin: 0 auto;
}

 .testimonial-carousel .splide__arrow {
  background: transparent;
  width: 3em;
  height: 3em;
}

 .testimonial-carousel .splide__arrow svg {
  fill: var(--light-color);
  width: 3.5em;
  height: 3.5em;
} 

 .testimonial-carousel .splide__slide:hover {
  cursor: grab;
}

 .testimonial-carousel .splide__slide:active {
  cursor: grabbing;
}

 .testimonial-carousel .splide__pagination__page.is-active {
  background-color: var(--primary-color);
  opacity: 0.9;
}

 .testimonial-carousel .splide__pagination__page.is-active:hover {
  opacity: 1;
}

 .testimonial-carousel .splide__pagination__page {
  width: 11px;
  height: 11px;
  margin: 5px;
}

 .testimonial-carousel .splide__arrow--next {
  right: -4em;
}

 .testimonial-carousel .splide__arrow--prev {
  left: -4em;
}

 .testimonial-carousel .splide__pagination {
  bottom: -1.5em;
}

 .testimonial-carousel .splide__slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

 .testimonial-carousel p {
  font-size: 19px;
  margin-bottom: 1em;
}

.testimonial-carousel blockquote {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.heading-imp {
  text-align: center;
  padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-montserrat-bold);
    font-size: 32px;
    letter-spacing: 2px;
    color: var(--light-color);
}

#filler {
  padding-top: 8.5rem;
  padding-bottom: 8rem;
  background: url(../img/landing/anastase-maragos-Lrfuy93_hAc-unsplash.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

#features-banner {
  position: relative;
  overflow: hidden;
  padding: 4.5rem 0;
}

#features-banner .features-text-container.master-container {
  justify-content: normal;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem auto;
    flex-wrap: wrap;
    max-width: 1200px;
}

.features-text-container .features-text-inner {
  position: relative;
  padding: 0 15px;
  flex: 0 0 47.6666667%;
  max-width: 47.6666667%;
}

#features-banner .features-banner-image {
    width: 50%;
    height: 108%;
    z-index: 10;
}

#features-banner .features-banner-image img {
  max-width: 100%;
  height: auto;
}

/*============= FOOTER =============*/

.statistics {
  padding-bottom: 3.5rem;
}

.statistics-item {
  z-index: 500;
}

.statistics-item-inner {
  padding: 3rem 0;
  margin-bottom: 1.5rem;
}

.statistics-item-inner > div {
  border-right: 2px solid rgba(0,0,0,.07);
  justify-content: center;
}

.statistics-item-inner strong {
  font-weight: 600;
  font-size: 50px;
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}

.statistics-item-inner span {
  display: block;
  font-size: 14px;
  color: rgba(0,0,0,.4);
  line-height: 1.4;
  padding: 0 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

/* Arrows */

.splide__arrow svg {
  fill: var(--light-color);
}

#testimonial-slider {
  margin: auto;
}

#testimonial-slider .splide__arrows .splide__arrow {
  background: transparent;
  transform: none;
  top: auto;
  bottom: -3em;
  width: 3em;
  height: 3em;
  z-index: 50;
}

#testimonial-slider .splide__arrows .splide__arrow:hover {
  border-radius: 0;
}

#testimonial-slider .splide__arrows .splide__arrow svg {
  width: 3em;
  height: 3em;
  transition: fill 0.3s ease;
}

#testimonial-slider .splide__arrows .splide__arrow:hover svg {
  fill: var(--primary-color);
}

#testimonial-slider .splide__arrows .splide__arrow:first-child {
  display: none;
  visibility: hidden;
}

/* Pagination */

#testimonial-slider .splide__pagination {
  bottom: -1.5em;
}

#testimonial-slider .splide__pagination .splide__pagination__page {
  background: var(--light-color);
  width: 9px;
  height: 9px;
  margin: 4px;
}

#testimonial-slider .splide__pagination .splide__pagination__page.is-active {
  background: var(--primary-color);
}

#testimonial-slider .splide__pagination.pagination__alt {
  justify-content: flex-start;
}

#testimonial-slider .splide__pagination.pagination__alt p {
  line-height: 1;
  color: #b7b3b3;
  font-size: 1.05rem;
}

#testimonial-slider .splide__pagination.pagination__alt p span {
  color: var(--light-color);
  font-size: 1.15rem;
}

.slide-01-active::before {
  content: '01';
}

.slide-02-active::before {
  content: '02';
}

.slide-03-active::before {
  content: '03';
}

/* Slides */

#testimonial-slider .splide__slide {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
}

#testimonial-slider .splide__slide p {
  padding: 1rem 2rem;
  color: var(--light-color);
}

.splide__pagination li {
  display: none;
  visibility: hidden;
}

.external-landing {
  margin: 0 auto 4rem;
  padding-top: 120px;
}

.external-landing-inner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 15px;
}

.external-landing-image img {
  object-fit: cover;
  height: auto;
  max-width: 100%;
}

.external-landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.external-landing-text h2 {
  color: var(--light-color);
  font-weight: bolder;
  font-size: 6rem;
}

.external-landing-text h2 span {
  background: var(--dark-color);
  padding: 5px 15px;
}

.container.external-landing {
  max-width: 1420px;
}

.w-100 {
  width: 100%;
}

.custom-shape-divider-top-1657828591 {
  position: absolute;
  top: 100%;
  left: -1%;
  width: 102%;
  margin-top: -1px;
}

.custom-shape-divider-top-1657828591 svg {
  width: 100%;
    height: auto;
}

.custom-shape-divider-top-1657828591 svg path {
  fill: #FFFFFF;
}

footer {
  background: #333;
  background-size: 110% auto;
  color: #fff;
  text-align: center;
  padding: 0;
}

.footer-cta {
  margin: 0 0 100px;
  padding-top: 10rem;
}

.footer-cta h2 {
  font-size: 50px;
  font-family: var(--font-catamaran-bold);
  
}

.footer-widgets {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.widget h2 {
  font-size: 36px;
  font-family: var(--font-catamaran-bold);
}

.widget h3 {
  font-size: 18px;
  font-family: var(--font-catamaran-bold);
}

.phone-email-phone {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: .04em;
}
.custom-shape-divider-top-1657840841 {
  position: absolute;
  bottom: -68px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1657840841 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 70px;
}

.custom-shape-divider-top-1657840841 .shape-fill {
  fill: #FFFFFF;
}

/*============= START SERVICES PAGE =============*/

#services {
  margin-bottom: 6rem;
  position: relative;
}

#services img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

#services .text-subtitle {
  margin-bottom: 10px;
}

#services .info-wrapper {
  padding: 15px;
}

#services .btn-arrow {
  position: absolute;
  bottom: 5px;
  right: 35px;
  color: var(--dark-color);
  font-size: 17px;
  font-weight: 600;
  padding: 15px;
  transition: .2s ease;
}

#services .btn-arrow:hover {
  color: var(--light-primary-color);
}

#services .btn-arrow::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: transparent;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(
-45deg
);
  transform: translateY(-50%) rotate(
-45deg
);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  left: calc( 95% + 5px);
  transition: .2s ease;
}

#services .btn-arrow:hover::before {
  left: calc( 95% + 10px);
  border-color: var(--light-primary-color);
}

#services .btn-arrow::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #000;
  transition: .2s ease;
  left: 95%;
}

#services .btn-arrow:hover::after {
  width: 20px;
}

#services .grid-4 {
  padding: 15px;
}

.main-header {
  margin-bottom: 1.5rem;
}

#services .container {
  max-width: 1405px;
}

#services .card {
  position: relative;
  height: 435px;
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 47, 77, 0.12);
  margin-bottom: 30px;
}

#promo-video .iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#promo-video .iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
/*============= END SERVICES PAGE =============*/

.phone-email-email {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.04em;
}

.custom-shape-divider-top-1657840636 {
  position: absolute;
  bottom: -51px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1657840636 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.custom-shape-divider-top-1657840636 .shape-fill {
  fill: #FFFFFF;
}

.address {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
}

.phone-email-phone a,
.phone-email-email a,
.address a {
  color: #fff;
}

.footer-social {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.footer-social li {
  margin-right: 10px;
}

.bottombar {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  font-size: 14px;
  padding: 50px 0 50px;
}

.designed-by a {
  color: var(--secondary-color);
}

#delivery {
  margin-top: 2.5rem;
  padding-bottom: 4.5rem;
}

/* Image Section */
#delivery .container {
  max-width: 900px;
}

#delivery .image-wrapper {
  margin-right: 60px;
  overflow: hidden;
}

#delivery .image-wrapper img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  transition: 1.2s;
}

#delivery .image-wrapper img:hover {
  transform: scale(1.15);
}


/* Info Section */
#delivery .info-wrapper {
  margin-left: 60px;
}

#delivery .info-wrapper h2 {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 600;
}

#delivery .info-wrapper ul {
  margin-right: 50px;
}

#delivery .info-wrapper ul>li {
  padding: 11px 0;
  border-bottom: 1px solid #e0dede;
}

#delivery .info-wrapper ul>li:last-child {
  border-bottom: 0;
}

#delivery .info-wrapper ul>li img {
  height: 20px;
  width: auto;
}

#delivery .info-wrapper ul>li span {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 5px;
}

/* Header */

.about-header .heading-primary {
  margin-bottom: 2.75rem;
  margin-top: 4rem;
}

.about-header-text {
  width: 65%;
}

.about-header-text p {
  margin-bottom: 4rem;
  line-height: 1.7;
  font-size: 1.3125rem;
}

.about-header-img img {
  max-width: 80%;
}

/* Client Results */

.client-results {
  max-width: 1280px;
}

.client-results .heading-primary {
  margin-bottom: 2.55rem;
}

.client-results-wrap {
  margin-bottom: 2rem;
}

.client-results-wrap .result {
  padding: 0 20px;
  margin-bottom: 1.75rem;
}

.client-results-wrap .result h2 {
  font-size: 4.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.client-results-testimonials {
  padding-bottom: 6.5rem;
}

.client-results-testimonials .testimonial-inner {
  position: relative;
  border: 1px solid #ebebeb;
  padding: 90px 40px 40px;
  margin: 10px 0;
}

.client-results-testimonials .testimonial-inner::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 40px;
  width: 50px;
  height: 45px;
  background-image: url(../img/quote.svg);
  background-repeat: no-repeat;
  background-size: contain;
} 

.client-results-testimonials .testimonial-text p {
  color: #6a7077;
  font-size: 21px;
  line-height: 24px;
  font-style: italic;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 1.5rem;
}

.client-results-testimonials .testimonial-text .author {
  margin-top: 1.5rem;
  text-align: right;
  font-style: normal;
  color: var(--primary-color);
  font-size: 20px;
  line-height: 24px;
}

.client-results-testimonials .testimonial-text .author small {
  font-weight: 400;
  font-size: 15px;
}

/* .polaris-heading.our-previous h1 {
  width: 20%;
} */

.our-previous.polaris-heading {
  margin-bottom: 1rem;
}

.gallery-item {
  padding: 5px;
  display: flex;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery {
  margin-bottom: 5rem;
}

.gallery * {
  transition: none;
}

.service-item-img img {
max-width: 100%;
height: auto;
}

.product-price {
  font-size: 32px;
}

.service-item-content p {
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 15px;
}

.service-item {
  margin-bottom: 3.5rem;
}

.polaris-heading-services {
  margin-bottom: 3.5rem;
}

.polaris-heading-services h1 {
    font-family: var(--font-catamaran-bold);
    color: var(--primary-color);

  font-size:36px; 
  font-weight:700;  
  letter-spacing:1px; 
  text-transform:uppercase; 
  text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  padding-bottom:13px;
}

.service-item.last-one {
  padding-bottom: 6rem;
}

.last-one .custom-shape-divider-top-1657828591 {
  top: 110%;
}

/* ============= CONTACT US ============= */

.contact {
  padding-bottom: 9rem;
  position: relative;
}

.contact-info {
  background: var(--dark-color);
  color: var(--light-color);
  padding: 60px 40px;
  margin-right: -8rem;
  z-index: 10;
}

.contact-info .heading-primary {
  font-size: 2.5rem;
  padding: 0;
  margin-bottom: 1.2rem;
}

.contact-info h4 {
  font-size: 14px;
  max-width: 440px;
  font-family: 'Inter', sans-serif;
}

.contact-info-links {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.contact-info-links-item {
  padding: 0;
}

.contact-info-links-item span {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
  font-family: 'Inter', sans-serif;
}

.contact-info-links-item a {
  font-size: 18px;
  color: var(--primary-color);
}

/* Form */

.contact-form .grid-6,
.contact-form .grid-12 {
  padding: 0;
}

.contact-form .form-field.mr {
  padding-right: 15px;
}

.contact-form .form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.form-field input,
.form-field select {
  padding: 6px 12px;
  font-size: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
  color: var(--light-contrast);
  outline: none;
  font-family: 'Georama', sans-serif;
  width: 100%;
  transition: all var(--transition-speed-primary) var(--bezier-ease);
}

.form-field input:active,
.form-field input:focus {
  border-bottom: 1px solid var(--primary-color);
}

.form-field input::placeholder {
  color: #ccc;
}

.form-field select {
  color: var(--light-contrast);
}

.form-field select option {
  background-color: var(--dark-color);
  border: none;
  outline: none;
}

.form-textarea textarea {
  width: 100%;
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
  background: transparent;
  color: var(--light-contrast);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light-contrast);
  padding: 15px 20px;
  font-family: 'Georama', sans-serif;
  transition: all var(--transition-speed-primary) var(--bezier-ease);
}

.form-textarea textarea::placeholder {
  color: #ccc;
}

.form-textarea textarea:active,
.form-textarea textarea:focus {
  border-bottom: 1px solid var(--primary-color);
}

.form-submit {
  margin-top: 2rem;
}

.form-submit input {
  margin-bottom: 2rem;
}

.form-submit label {
  font-size: 15px;
}

.form-submit label a {
  color: var(--primary-color);
}

.form-submit .btn-theme {
  color: var(--light-color);
}

.form-submit .btn-theme:hover {
  color: var(--dark-color);
  background: var(--light-color);
}

/* Map */

.contact-map {
  padding: 0;
  overflow: hidden;
  max-height: 100%;
}

.before-after-item {
  padding-left: 0;
  padding-right: 0;
}

.before-after-item img {
  max-width: 100%;
  height: auto;
}

.before-after {
  margin-bottom: 5rem;
}

.before-after-text {
  font-size: 32px;
  color: var(--dark-color);
}

.before-after .container {
  max-width: 1100px;
}