/*============= RESETS =============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/*-- iPhone X Remove Gutters --*/
html {
  padding: env(safe-area-inset);
  overflow-y: hidden;
}
  
html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-nunito-reg);
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.5;
}

/*============= SCROLLBAR =============*/
::-webkit-scrollbar {
  width: 9px;
  /* background: #f4f4f4; */
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--primary-color);
}

/*============= HIGHLIGHT =============*/
::selection {
  color: #fff;
  /* background: rgba(0, 92, 88, 0.5); */
  background: rgba(53, 117, 96, 0.7);
}

/*============= LIGHTBOX =============*/
.fslightbox-absoluted {
  transition: none;
}

/*============= START SIDEBAR =============*/

.sidebar {
  z-index: 200;
  position: fixed;
  left: 0;
  margin-top: 50px;
  top: 50%;
  transform: translateX(-120%) translateY(-50%);
}

.sidebar.show {
  transform: translateX(0%) translateY(-50%) !important;
}

.sidebar .sidebar-item {
  min-height: 55px;
  margin-top: 15px;
  position: relative;
  padding-left: 50px;
  height: 17%;
}

.sidebar .sidebar-item:first-of-type {
  margin-top: 0;
}

.sidebar .sidebar-item.active {
  min-height: 150px;
}

.sidebar-item em {
  position: absolute;
  left: 49px;
  top: 0px;
  width: 4px;
  background: #35886c;
  opacity: 1;
  z-index: 3;
  max-height: 100% !important;
  height: 0px;
}

.sidebar-item.active em {
  height: 100%;
}

.sidebar-item:hover {
  min-height: 150px;
}

.sidebar-item:hover em {
  height: 100%;
}

.sidebar-item:hover a strong {
  opacity: 1;
}

.sidebar-item a {
  left: 49px;
  top: 0;
  font-size: 22px;
  display: block;
  height: 100%;
  padding-left: 3px;
  font-family: var(--font-nunito-bold);
  position: absolute;
  border-left: 2px solid var(--dark-color);
}

.sidebar-item a.link-mod {
  left: -2px;
  width: 55px;
}

.sidebar-item a strong {
  color: rgba(0, 0, 0, 0.6);
  transform: rotate(-90deg) translate(-40%, -71%);
  opacity: 0;
  overflow: hidden;
  height: 22px;
  display: block;
  transform-origin: left;
  position: absolute;
  top: 50%;
}

.sidebar-item.active a strong {
  opacity: 1;
}

/*============= END SIDEBAR =============*/

/*============= START NAVIGATION =============*/
.gallery-scroll {
  position: fixed;
  bottom: 15px;
  right: 15px;
  transform: translateX(calc(100% + 15px));
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000; /* go over every element on the page */
}

.gallery-scroll.desktop {
  display: flex;
  visibility: visible;
}

.gallery-scroll.mobile {
  display: none;
  visibility: hidden;
}

.gallery-scroll.show {
  transform: translateX(0);
}

.navbar-brand.home .navbar-contact {
  display: none;
  visibility: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 250;
  background: transparent;
  box-shadow: none;
}

.navbar.home {
  padding-bottom: 15px;
  padding-top: 50px;
}

.navbar-gallery {
  position: fixed;
  top: 45px;
  right: 54px;
  z-index: 1005;
}

.navbar.show {
  background: var(--light-color);
  box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
}

.navbar .container {
  max-width: 1720px;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navbar-brand.home {
  position: fixed;
  top: 45px;
  left: 54px;
  z-index: 1005;
}

.navbar-brand > a {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.navbar.home .navbar-brand > a {
  display: inline-flex;
  padding-left: 54px;
}

.navbar-brand img {
  width: 35px;
  height: 35px;
}

.navbar-brand h1 {
  margin-left: 0.45rem;
  color: var(--primary-color);
  font-family: var(--font-montserrat-reg);
  font-size: 28px;
}

.navbar-contact {
  margin-left: auto;
}

.navbar-contact > a,
.navbar-gallery-link {
  transition: .6s cubic-bezier(.215,.61,.355,1);
  display: inline-block;
  position: relative;
  line-height: 2;
  overflow: hidden;
  cursor: pointer;
  font-family: var(--font-montserrat-reg);
  color: var(--dark-color);
}

.navbar-contact > a::before,
.navbar-gallery-link::before,
.navbar-contact > a::after,
.navbar-gallery-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 1px;
}

.navbar-contact > a:hover,
.navbar-gallery-link:hover {
  color: var(--primary-color);
}

.navbar-contact > a:hover::before,
.navbar-gallery-link:hover::before {
  transform: translateX(-100%);
  transition: .35s cubic-bezier(.65,.05,.36,1) .15s;
}

.navbar-contact > a:hover::after,
.navbar-gallery-link:hover::after {
  left: -100%;
  transform: translateX(100%);
  transition: transform .35s cubic-bezier(.65,.05,.36,1),left 0s;
}

.navbar-contact > a::before,
.navbar-gallery-link::before {
  left: 0;
  width: 30px;
  background-color: #403911;
  transition: .35s cubic-bezier(.65,.05,.36,1) .15s;
}

.navbar-contact > a::after,
.navbar-gallery-link::after {
  left: 100%;
  width: 100%;
  background-color: #403911;
  transform: translateX(0);
  transition: .35s cubic-bezier(.65,.05,.36,1);
}

/*============= END NAVIGATION =============*/

/*============= START LANDING PAGE =============*/

.landing-page.container {
  max-width: 2020px;
  margin-bottom: 6rem;
  background: url(../img/home/leaves-background.webp) right no-repeat;
  background-attachment: fixed;
}

.landing-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  user-select: none;
}

.landing-page,
.landing-page-row,
.landing-page-row .grid-7,
.landing-page-row .grid-5 {
  padding: 0;
}

.landing-page-row .grid-7 {
  padding-left: 11rem;
}

/*-- Landing Page Caption --*/

.caption-container {
  height: 200px;
  width: 78%;
  position: relative;
  overflow: hidden;
}

.caption-01,
.caption-02,
.caption-03 {
  opacity: 0;
  position: absolute;
  transform: translateX(-600px);
  top: 0px;
  left: 0;
  animation: slider-one 15s infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.caption-02 {
  animation: slider-two 15s infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.caption-03 {
  animation: slider-three 15s infinite;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slider-one {
  0% {
    opacity: 0;
    transform: translateX(-600px)
  }

  6% {
    opacity: 0;
    transform: translateX(-150px);
  }

  10% {
    opacity: 1;
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(0);
  }

  30% {
    opacity: 1;
    transform: translateX(0);
  }

  33% {
    opacity: 0;
    transform: translateX(300px);
  }

  40% {
    opacity: 0;
    transform: translateX(600px);
  }

  50% {
    opacity: 0;
    transform: translateX(-600px);
  }

  60% {
    opacity: 0;
    transform: translateX(-600px);
  }

  70% {
    opacity: 0;
    transform: translateX(-600px);
  }

  80% {
    opacity: 0;
    transform: translateX(-600px);
  }

  90% {
    opacity: 0;
    transform: translateX(-600px);
  }

  100% {
    opacity: 0;
    transform: translateX(-600px);
  }
}

@keyframes slider-two {
  0% {
    opacity: 0;
    transform: translateX(-600px);
  }

  10% {
    opacity: 0;
    transform: translateX(-600px);
  }

  20% {
    opacity: 0;
    transform: translateX(-600px);
  }

  30% {
    opacity: 0;
    transform: translateX(-600px);
  }

  31% {
    opacity: 0;
    transform: translateX(-150px);
  }

  35% {
    opacity: 1;
    transform: translateX(0px);
  }

  40% {
    opacity: 1;
    transform: translateX(0px);
  }

  50% {
    opacity: 1;
    transform: translateX(0px);
  }

  60% {
    opacity: 1;
    transform: translateX(0px);
  }

  63% {
    opacity: 0;
    transform: translateX(300px);
  }

  70% {
    opacity: 0;
    transform: translateX(600px);
  }

  80% {
    opacity: 0;
    transform: translateX(-600px);
  }

  90% {
    opacity: 0;
    transform: translateX(-600px);
  }

  100% {
    opacity: 0;
    transform: translateX(-600px);
  }
}


@keyframes slider-three {
  0% {
    opacity: 0;
    transform: translateX(-600px);
  }

  10% {
    opacity: 0;
    transform: translateX(-600px);
  }

  20% {
    opacity: 0;
    transform: translateX(-600px);
  }

  30% {
    opacity: 0;
    transform: translateX(-600px);
  }

  40% {
    opacity: 0;
    transform: translateX(-600px);
  }

  50% {
    opacity: 0;
    transform: translateX(-600px);
  }

  60% {
    opacity: 0;
    transform: translateX(-600px);
  }

  61% {
    opacity: 0;
    transform: translateX(-150px);
  }

  65% {
    opacity: 1;
    transform: translateX(0px);
  }

  70% {
    opacity: 1;
    transform: translateX(0px);
  }

  80% {
    opacity: 1;
    transform: translateX(0px);
  }

  90% {
    opacity: 1;
    transform: translateX(0px);
  }

  96% {
    opacity: 1;
    transform: translateX(0px);
  }

  99% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 0;
    transform: translateX(600px);
  }
}


.phone-btn-svg {
  margin-right: 5px;
  fill: var(--light-color);
}

.caption-splide * {
  transition: none;
}

.landing-text {
  position: absolute;
  top: 64px;
  left: auto;
  /* transform: translateX(33.5%); */
  /* overflow: hidden; */
}

.landing-text h1 {
  font-family: var(--font-montserrat-bold);
  font-size: 11.25rem;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 0;
}

.landing-text h1::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url(../img/aesthetics/dots-alt.svg);
  opacity: 0.3;
  right: 105%;
  bottom: 0.14em;
  width: 200px;
  height: 100px;
}

.landing-about-text {
  font-size: 32px;
  padding-left: 3.6em;
}

.landing-about-text::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--dark-color);
  width: 2.4em;
  height: 1px;
  top: 0.8em;
  left: 0.5em;
}

.landing-about-text p {
  font-size: 2rem;
  font-family: var(--font-montserrat-reg);
  margin-top: 32px;
  max-width: 385px; /*made 10px bigger for digital experience text*/
}

/*-- Landing Image --*/

.landing-img .landing-circle {
  display: none;
  visibility: hidden;
}

.landing-img .landing-circle img {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  width: 130%;
  transform: translate(-10%, -25%);
}

.landing-img .landing-phone-container {
  transform: translate(30%, 23%);
  transition: none;
  /* display: flex;
  position: relative;
  justify-content: center; */
}

.landing-img .landing-phone {
  display: block;
  position: relative;
  justify-content: center;
  transform: translateY(23%);
  transition: none;
}

.landing-img .landing-phone:hover .landing-phone-btn {
  background-color: transparent;
  color: var(--primary-color);
}

.landing-img .landing-phone:hover .phone-btn-svg {
  fill: var(--primary-color);
}

.landing-img .landing-phone .landing-phone-btn {
  position: absolute;
  bottom: 18%;
  text-align: center;
  left: 22%;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
  transform: translateX(-50%);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.6em;
  color: var(--light-color);
  cursor: pointer;
  font-size: 1rem;
  padding: 10px calc(4% - 20px);
  font-family: var(--font-montserrat-bold);
  text-transform: uppercase;
}

.landing-img .landing-phone img {
  max-width: 43%;
  height: auto;
  transition: 0s ease;
  pointer-events: none;
  user-select: none;
}

/*-- Landing Scroll --*/

.landing-scroll {
  left: 3.3vw;
  bottom: -200px;
}

.landing-scroll a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: left;
  color: var(--dark-color);
  font-family: var(--font-montserrat-light);
  font-size: 10px;
  height: 3.2rem;
  line-height: 3.2rem;
  letter-spacing: 0.4em; 
  -webkit-text-stroke: 0.025em;
  transform: rotate(90deg) translateX(-200px);
  transform-origin: left bottom;
}

.landing-scroll .horizontal-line {
  position: absolute;
  width: 32px;
  height: 200px;
  bottom: -10rem;
  left: 25px;
}

.landing-scroll .horizontal-line::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #3a9778;
  width: 1.5px;
  top: 0;
  bottom: 0;
}

.landing-scroll a:hover {
  color: var(--primary-color);
  transform: rotate(90deg) translateX(-170px);
}

.horizontal-line.active {
  transform: translateY(30px);
}

/*============= END LANDING PAGE =============*/

/*============= START ABOUT SECTION - HOME =============*/

#about {
  padding-top: 80px;
  margin-top: 250px;
}

#about .about-text {
  max-width: 426px;
  margin: 0 auto;
}

#about .about-text p {
  font-size: 1.2rem;
  margin-bottom: 0.85rem;
}

.award-images {
  margin: 30px 0;
}

.award-images img {
  height: 140px;
  width: auto;
  margin-right: 25px;
}

#about .about-img .about-img-thumb::before {
  content: '';
  background-image: url(../img/aesthetics/about-dots-svg.svg);
  position: absolute;
  z-index: -1;
  top: auto;
  opacity: 0.3;
  bottom: calc(-10vh - 150px);
  left: auto;
  padding-right: 25px;
  right: -45px;
  width: 18vw;
  height: 53vh;
}

#about .about-img .about-img-thumb img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

#about .about-img .about-img-thumb h3 {
  top: calc(-11vw - -25px);
  left: 35%;
  right: auto;
  font-family: var(--font-nunito-bold);
  position: absolute;
  font-size: 10vw;
  color: rgba(231, 230, 230, 0.7);
  z-index: -10;
}

/*============= END ABOUT SECTION - HOME =============*/

/*============= START FILLER 1 - HOME =============*/

  #img-title {
    height: 46rem;
    padding-top: 12rem;
    text-align: center;
    margin: 0 auto;
    max-width: 2100px;
  }

  #img-title h2 {
    color: var(--primary-color);
    margin-top: 15px;
    white-space: normal;
    width: 400px;
    line-height: 1;
    font-size: 3.65vw;
    overflow: hidden;
  }

  .span-animation.left {
    opacity: 0;
    transform: translateX(-120%);
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

  .span-animation.right {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

  .span-animation.top {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }

  #img-title h2 span {
    display: inline-block;
  }

  .filler-heading,
  .filler-media-left,
  .filler-media-right {
    padding-left: 0;
    padding-right: 0;
  }

  #img-title .filler-media-left,
  #img-title .filler-media-right {
    width: 100%;
    height: 100%;
  }

  #img-title .filler-media {
    position: absolute;
    top: 0;
    right: 0;
  }

  .filler-media .filler-media-box {
    border-radius: 0.75rem;
    height: 100%;
    overflow: hidden;
    width: 100%;
     display: block;
  }

  #img-title .filler-media.box-1 {
    width: 80%;
    right: 0;
    top: 50px;
  }

  #img-title .filler-media.box-2 {
    width: 40%;
    left: 10%;
    top: -50px;
    z-index: 30;
}

  #img-title .filler-media.box-3 {
    width: 42%;
    right: 40%;
    top: -30px;
    transform: translateX(50%);
    z-index: 30;
  }

  #img-title .filler-media.box-4 {
    right: 10%;
    width: 75%;
    z-index: 20;
    top: 200px;
  }

  .filler-media img {
    height: auto;
    width: 100%;
    display: block;
  }



  /* #img-title .filler-media {
    position: absolute;
  }

  #img-title .filler-media:first-of-type {
    border-radius: 1rem 0 0 1rem;
    height: 338px;
    right: 0;
    top: 16rem;
    width: 492px;
  }

  #img-title .filler-media:nth-of-type(2) {
    height: 330px;
    right: 25.5rem;
    top: 12.8rem;
    width: 260px;
  }

  #img-title .filler-media:nth-of-type(3) {
    height: 395px;
    left: 15rem;
    top: 10.8rem;
    width: 308px;
    z-index: 1;
  }

  #img-title .filler-media:nth-of-type(4) {
    height: 312px;
    left: 6rem;
    top: 26.3rem;
    width: 554px;
}



.filler-media .filler-media-box img {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
} */

/*============= END FILLER 1 - HOME =============*/

/*============= START WEBSITE GALLERY =============*/

#gallery.container {
  padding: 150px 40px;
  max-width: 1370px;
}

#gallery * {
  transition: none;
}

.gallery-dots {
  position: absolute;
  display: block;
  background-image: url(../img/aesthetics/about-dots-svg.svg);
  opacity: 0.3;
  bottom: 0;
  left: -100px;
  width: 29vw;
  height: 18vw;
}

.gallery-nav {
  margin-bottom: 2.75rem;
}

.gallery-nav .gallery-nav-inner {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gallery-nav .sort-btn {
  display: block;
  padding: .8rem 2rem;
  color: var(--dark-color);
  cursor: pointer;
  background-color: var(--light-color);
  position: relative;
  text-transform: uppercase;
  font-family: var(--font-montserrat-reg);
  z-index: 10;
  transition: all 0.3s ease !important;
}

.gallery-nav .sort-btn::before {
  content: "";
  display: block;
  background-color: var(--dark-color);
  width: 100%;
  height: 100%;
  transition: top 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
  position: absolute;
  z-index: -1;
  top: 105%;
  left: 0;
}

.gallery-nav .sort-btn.checked {
  color: var(--light-color);
}

.gallery-nav .sort-btn.checked::before {
  top: 0;
}

/*-- Gallery Items --*/

#gallery .gallery-item {
  padding: 10px 10px;
  display: inline-block;
}

#gallery .gallery-item.grid-4 {
  flex: 0 0 32.33333%;
  max-width: 32.33333%;
}

#gallery .gallery-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}

#gallery .gallery-item .gallery-item-switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale3d(1.1,1.1,1.1);
  transition: 0.6s ease;
}

#gallery .gallery-item .gallery-item-hover {
  opacity: 0;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  height: auto;
  top: inherit;
  transform: translateY(100%);
  position: absolute;
  transition: 0.4s ease;
}

.gallery-item .gallery-item-hover-inner {
  padding: 15px 30px;
  border-radius: 3px;
  background-color: #fff;
  align-self: flex-end;
}

.gallery-item .gallery-item-hover .text {
  margin-right: auto;
}

.gallery-item .gallery-item-hover .text small {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--dark-color);
}

.gallery-item .gallery-item-hover .text div {
  color: var(--dark-color);
  white-space: nowrap;
}

.gallery-item .gallery-item-hover .arrow {
  margin-left: auto;
  transition: all 0.3s ease !important;
}

/*-- Gallery Item Hover --*/

#gallery .gallery-item .gallery-item-box:hover .gallery-item-box-inner .gallery-item-switch {
  opacity: 1;
  transform: scale3d(1,1,1);
}

#gallery .gallery-item .gallery-item-box:hover .gallery-item-box-inner .gallery-item-hover {
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  transform: translateY(0);
  opacity: 1;
}

.gallery-item .gallery-item-hover .arrow:hover {
  transform: translateX(5px);
}

/*============= END WEBSITE GALLERY =============*/

/*============= START TESTIMONIALS CAROUSEL =============*/

#testimonial {
  background: url(../img/home/leaves-background.webp) right no-repeat;
  background-attachment: fixed;
}

.testimonial-bg-svg {
  height: 110%;
  width: auto;
  position: absolute;
  top: -5px;
  pointer-events: none;
  user-select: none;
  right: 0;
}

.testimonial-container.container {
  max-width: 1880px;
}

.testimonial-border {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 20%;
  border: 7px solid gray;
  width: 120%;
  height: 120%;
}

.testimonial-border .border-cover {
  width: 20px;
  height: 340px;
  background-color: var(--light-color);
  top: 50%;
  transform: translateY(-50%);
  left: -16px;
  position:  absolute;
}

.testimonial-border h3 {
  position: absolute;
  font-family: var(--font-nunito-bold);
  top: calc(-5vw - 20px);
  right: -160px;
  font-size: 6vw;
  color: rgba(167, 167, 167, 0.3);
}

/*-- Carousel --*/

#testimonial-slider * {
  transition: none;
}

.testimonial-container #testimonial-slider {
  max-width: 33%;
  z-index: 100;
  margin-left: 165px;
}

#testimonial-slider .splide__slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonial-slider .splide__slide svg {
  margin-bottom: 30px;
}

#testimonial-slider .splide__slide p {
  width: 90%;
  margin-bottom: 30px;
  font-size: 18px;
}

#testimonial-slider .splide__slide div {
  font-family: var(--font-montserrat-bold);
  color: var(--primary-color);
  text-transform: uppercase;
}

#testimonial-slider .splide__slide small {
  text-transform: uppercase;
}

#testimonial-slider .splide__arrow--prev::before,
#testimonial-slider .splide__arrow--next::before {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--font-montserrat-bold);
  font-size: 14px;
}

#testimonial-slider .splide__pagination {
  display: none;
  visibility: hidden;
}

#testimonial-slider .splide__arrow--prev::before {
  content: 'prev';
}

#testimonial-slider .splide__arrow--next::before {
  content: 'next';
}

#testimonial-slider .splide__arrow {
  height: 10em;
  background: transparent;
  border-radius: 0;
  opacity: 1;
}

#testimonial-slider .splide__arrow--next {
  right: -14em;
  padding-left: 75px;
  padding-right: 75px;
  border-left: 1px solid #e4e4e4;
}

#testimonial-slider .splide__arrow--prev {
  left: -14em;
  padding-right: 75px;
  padding-left: 75px;
  border-right: 1px solid #e4e4e4;
}

/*============= END TESTIMONIALS CAROUSEL =============*/

/*============= START PRICING =============*/

#pricing.container {
  max-width: 1460px;
  padding: 150px 40px;
}

.pricing-text {
  padding-right: 0;
  padding-left: 4rem;
}

.pricing-text h2 {
  line-height: 1;
  margin-bottom: 2.6rem;
  font-size: 50px;
  white-space: normal;
}

.pricing-text p {
  margin-bottom: 24px;
}

.pricing-circle {
  position: absolute;
  bottom: -100px;
  right: -60px;
  z-index: -1;
}

.pricing-table {
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 0 15px rgb(0 0 0 / 8%);
  background-color: rgba(255,255,255, 1);
}

.pricing-table-animation {
  transform: translateX(92%);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.pricing-table-main {
  margin-right: 0;
}

.pricing-table-main .recommended-tag {
  position: absolute;
  top: -36px;
  right: -72px;
  width: 180px;
  transform-origin: 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  font-family: var(--font-montserrat-bold);
  font-size: 11px;
  padding: 10px 0 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: var(--primary-color);
}

.pricing-header {
  padding-top: 55px;
}

.pricing-table-main .pricing-header {
  padding-top: 65px;
}

.pricing-header svg {
  margin: 0 auto;
  font-size: 50px;
  display: block;
}

.pricing-header span {
  margin-top: 5px;
  font-family: var(--font-montserrat-bold);
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  display: block;
}

.pricing-body {
  padding: 40px 0;
}

.pricing-body h4 {
  text-align: center;
  font-size: 40px;
  line-height: 3.65rem;
  font-family: var(--font-montserrat-bold);
}

.pricing-body small {
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #828282;
}

.pricing-body ul li {
  margin-bottom: 10px;
  text-align: center;
  padding: 0 20px;
}

.pricing-footer {
  margin-bottom: 20px;
}

.pricing-table-main .pricing-footer {
  margin-bottom: 30px;
}

.pricing-footer a {
  text-align: center;
  display: block;
  font-size: 14px;
}

/*============= END PRICING =============*/

/*============= START FILLER SLIDE SECTION ===========*/

#slider-filler {
  padding-top: 80px;
  padding-bottom: 15px;
}

#filler-carousel *,
#filler-carousel-mobile * {
  transition: none;
}

.slider-wrapper {
  margin-left: 75px;
}

#filler-carousel .splide__track,
#filler-carousel-mobile .splide__track {
  padding: 55px 0;
}

#filler-carousel .splide__slide,
#filler-carousel-mobile .splide__slide {
  position: relative;
}

#filler-carousel .splide__slide .count,
#filler-carousel-mobile .splide__slide .count {
  position: absolute;
  top: -95px;
  left: -48px;
  z-index: 25;
  font-family: var(--font-elgoc);
  color: transparent;
  -webkit-text-stroke-color: #b7ada2;
  -webkit-text-stroke-width: 1.8px;
  font-size: 9rem;
}

#filler-carousel .splide__slide .circle,
#filler-carousel-mobile .splide__slide .circle {
  width: 26rem;
  height: auto;
  position: absolute;
  bottom: -55px;
  right: -50px;
  z-index: -1;
}

#filler-carousel .splide__slide .slide-text,
#filler-carousel-mobile .splide__slide .slide-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

#filler-carousel .splide__slide .slide-text h2,
#filler-carousel-mobile .splide__slide .slide-text h2 {
  font-size: 3.2rem;
  color: var(--light-color);
  text-shadow: 0 0 12px rgb(0 0 0 / 20%);
  text-align: center;
  white-space: normal;
}

#filler-carousel .filler-img,
#filler-carousel-mobile .filler-img {
  border-radius: 0.7rem;
}

/*============= END FILLER SLIDE SECTION ===========*/

/*============= START TERMS OF USE =============*/

.terms-heading-wrap {
  margin-top: 12.2rem;
  margin-bottom: 4.5rem;
  max-width: 1210px;
}

.terms-heading-layout h1 {
  font-size: 8rem;
  font-family: var(--font-stix);
  color: var(--primary-color);
  line-height: 1;
}

.terms-heading-layout h3 {
  color: var(--primary-color);
  font-family: var(--font-montserrat-reg);
  text-transform: uppercase;
}

.terms-heading-layout .btn-container {
  margin-top: 0.85rem;
}

#terms {
  padding-bottom: 0;
}

#contact-footer.modi #contact {
  padding-top: 150px;
}

.terms-table-wrap {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.terms-table {
  width: 75%;
  margin-left: auto;
}

.term {
  border-top: 1px solid var(--primary-color);
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  position: relative;
  display: block;
}

.term-layout .layout-item {
  width: 65.3692%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 0;
}

.term-layout .layout-item.number {
  width: 33.3333%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 0;
}

.layout-item.number span {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--font-montserrat-bold);
}

.term-layout .layout-item h2 {
  font-size: 2.5rem;
  white-space: normal;
  text-transform: uppercase;
  font-family: var(--font-stix);
  margin-bottom: 1.875rem;
  line-height: 1;
}

.term-layout .layout-item p {
  margin-bottom: 0.85rem;
}

.term-layout .layout-item p a,
.term-layout .layout-item ul li a {
  color: var(--primary-color);
}

.term-layout .layout-item ul {
  margin-bottom: 0.85rem;
}

.term-layout .layout-item ul li {
  font-family: var(--font-nunito-reg);
  font-size: 18px;
  list-style: disc;
  margin-left: 2.5rem;
  margin-bottom: 0.55rem;
}

/*============= END TERMS OF USE =============*/

#wordpress-img {
  max-width: 70%;
  height: auto;
}

/*============= START TEMPLATE PAGES =============*/

html,
body.overflow-mod {
  overflow-x: unset;
}

#contact.container.mod {
  padding-top: 150px;
}

.template-showcase {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.template-purchase-wrap.grid-3 {
  flex: 0 0 29%;
  max-width: 29%;
}

.template-visual-wrap.grid-9 {
  flex: 0 0 71%;
  max-width: 71%;
}

/*-- Template Header Section --*/
.template-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 3rem;
  margin-top: 110px;
}

.template-header-inner {
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.template-header-inner .container {
  max-width: 1760px;
  padding: 0 40px;
}

.template-header .template-header-image img {
  height: 80px;
  width: 80px;
}
.template-header .template-header-image.focalpoint img {
  height: 60px;
  width: auto;
}

.template-header .template-header-content {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.template-header-content .template-title h2 {
  font-family: var(--font-nunito-bold);
  font-size: 32px;
  line-height: 1.25em;
  white-space: normal;
  margin-bottom: 0;
}

.template-header-content .template-header-breadcrumbs {
  margin-top: 2px;
  margin-bottom: 8px;
  color: #666;
  font-size: 14px;
  letter-spacing: .01em;
  font-family: var(--font-nunito-reg);
}

.template-header-breadcrumbs a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}

.template-header-breadcrumbs a:hover {
  color: var(--primary-color);
}

.template-header-breadcrumbs span {
  padding: 0 4px;
}

.template-header-breadcrumbs span.bc-text {
  padding: 0;
}

.template-header-breadcrumbs span.bc-text:last-of-type {
  color: var(--primary-color);
  font-family: var(--font-nunito-bold);
}

.template-header-content .template-header-description {
  max-width: 65%;
}

.template-header-description p {
  font-size: 16px;
  margin-bottom: 12px;
}

/*-- Template Info Sidebar Section --*/

.template-purchase {
  padding: 38px 25px 29px;
  box-shadow: 0 0 17.64px 0.36px rgb(0 0 0 / 4%);
  line-height: 24px;
  position: sticky;
  top: 100px;
}

.template-title,
.template-btn {
  margin-bottom: 42px;
}

.template-title h3 {
  font-family: var(--font-nunito-bold);
  font-size: 42px;
  line-height: 1.1;
  color: var(--dark-color);
}

.template-btn a {
  padding: 12px 41px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  color: var(--light-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  position: relative;
  width: auto;
  font-family: var(--font-nunito-reg);
  font-size: 12px;
  line-height: 2em;
  letter-spacing: .12em;
  outline: 0;
  text-transform: uppercase;
  border-radius: 26px;
}

.template-btn a:hover,
.template-btn a:active {
  background-color: #548A78;
}

.template-btn .price-query {
  text-align: center;
}

.theme-info {
  list-style: none;
  padding-bottom: 33px;
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 30px;
}

.theme-info li {
  font-size: 16px;
  font-family: var(--font-nunito-reg);
  margin-bottom: 5px;
  display: flex;
}

.theme-info li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-right: 14px;
  flex-shrink: 0;
  position: relative;
  top: 8px;
}

.template-description {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 29px;
  margin-bottom: 29px;
  position: relative;
}

.template-description .highlight {
  font-family: var(--font-nunito-reg);
  font-size: 24px;
  line-height: 1.29em;
  margin-bottom: 11px;
}

.template-description p {
  font-family: var(--font-nunito-reg);
  font-size: 16px;
}

.template-certification {
  text-align: center;
}

.template-certification span {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--font-montserrat-bold);
}

/*-- Template Visual Section --*/

.template-visual-wrap {
  padding: 0 12px;
}

.template-visual-content {
  background-image: url(../img/templates/riverview/riverview-bg.webp);
  background-position: 0px 0px;
  background-size: 100%;
  background-color: /*#eceaef*/ #f7f7f7;
  background-repeat: no-repeat;
  padding: 85px 0;
}

.template-visual-content .main-content {
  max-width: 590px;
  margin: 0 auto;
}

#dare-roofing .template-visual-content {
  background-image: url(../img/templates/dare/dare-bg.webp);
  background-color: #f1e5e5;
}

#strontium-design .template-visual-content {
  background-image: url(../img/templates/strontium/strontium-bg.webp);
  background-repeat: repeat;
  background-color: #f1e5e5;
}

#unison-consulting .template-visual-content {
  background-image: url(../img/templates/unison/unison-bg.jpg);
  background-color: #181d20;
  color: var(--light-color);
}

.main-content .featured-image {
  box-shadow: 0 0 20px 0 rgb(2 2 2 / 3%);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-bottom: 60px;
}

.main-content .featured-image img {
  margin: 0 auto;
  display: block;
  height: auto;
  max-width: 100%;
}

.main-content .featured-image .template-video {
  width: 100%;
  height: 322px;
  margin: 0 auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.title-paragraph span {
  display: inline-block;
  font-family: var(--font-stix);
  color: var(--primary-color);
  font-size: 48px;
  margin-bottom: -15px;
  margin-left: -16px;
}

.title-paragraph {
  font-style: italic;
  font-size: 24px;
  line-height: 1.2;
}

.main-content p {
  margin-bottom: 25px;
}

.main-content-text p.first {
  color: var(--primary-color);
  font-size: 28px;
  font-family: var(--font-nunito-bold);
}

.main-content-text p.second {
  color: var(--primary-color);
  font-size: 22px;
  font-family: var(--font-nunito-bold);
  font-style: italic;
}

.main-content-text .third {
  font-size: 16px;
  font-family: var(--font-nunito-bold);
  margin-bottom: 28px;
}

.main-content-text p.fourth {
  font-size: 20px;
}

.main-content-text p.fifth {
  font-size: 36px;
  color: var(--primary-color);
  font-family: var(--font-stix);
}

.site-showcase {
  padding: 50px 0;
}

.showcase-row {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}

.showcase-item-inner img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 0 17.64px 0.36px rgb(0 0 0 / 4%);
}

.showcase-item.grid-6 {
  margin-bottom: 32px;
}

/*-- Template Showcase Info Section --*/

.template-showcase-info {
  padding-top: 100px;
  padding-bottom: 25px;
}

.theme-features.container {
  max-width: 1360px;
}

.template-showcase-info .theme-features h3 {
  margin-bottom: 48px;
  font-size: 28px;
  font-family: var(--font-montserrat-reg);
}

.theme-features-item-content {
  padding-left: 18px;
}

.theme-features-item-content h5 {
  font-size: 18px;
  margin-bottom: 16px;
}

.theme-features-item-content p {
  font-size: 15px;
}

/*============= END TEMPLATE PAGES =============*/

/*============= START BLOG PAGE =============*/

#blog-landing {
  flex-flow: row wrap;
  align-items: stretch;
  margin-top: 6rem;
  max-width: 1480px;
  padding: 0;
  padding-bottom: 4rem;
  border-bottom: 1px solid #D8D8D8;
  margin-left: auto;
  margin-right: auto;
}

#blog-landing .latest-blog {
  flex-flow: column nowrap;
  justify-content: flex-start;
  position: relative;
  display: flex;
}

#blog-landing .latest-blog a {
  display: block;
  box-shadow: 0 0 15px rgb(0 0 0 / 8%);
  padding: 40px;
}

#blog-landing .latest-blog a:hover {
  background-color: #fcfcfc;
}

#blog-landing .latest-blog a:hover .latest-blog-text h3 {
  color: var(--primary-color);
}

.latest-blog .latest-blog-img {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.latest-blog .latest-blog-img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.latest-blog .latest-blog-text h3 {
  color: var(--dark-color);
  font-size: 32px;
  text-align: center;
}

#blog-landing .blog-landing-title {
  padding-right: 95px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

#blog-landing .blog-landing-title .pricing-circle {
  bottom: 90px;
  left: 100px;
}

#blog-landing .blog-landing-title small {
  font-size: 15px;
  text-align: right;
}

#blog-landing .blog-landing-title h2 {
  font-size: 6.6rem;
  line-height: 1;
  text-align: right;
}

#blog-landing .blog-landing-title h2 span {
  font-size: 8.65rem;
}

#blog-posts {
  margin-top: 4rem;
  max-width: 1580px;
}

.blog-post {
  margin-bottom: 2rem;
}

.blog-post img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-post .date {
  margin-top: 15px;
  font-size: 14px;
  font-family: var(--font-montserrat-reg);
  text-transform: uppercase;
}

.blog-post .blog-title {
  font-family: var(--font-nunito-bold);
  font-size: 26px;
}

.blog-post .blog-link span {
  color: var(--dark-color);
  padding-right: 3px;
  transition-duration: 0.2s;
}

.blog-post .blog-link:hover span {
  padding-right: 5px;
}

.blog-title-f {
  margin-bottom: 12px;
}

.blog-post-wrap {
  padding-right: 40px;
}

.template-title.blog-sidebar-title {
  padding-bottom: 33px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.template-description.blog-popular-posts ul li {
  font-size: 16px;
  font-family: var(--font-nunito-reg);
  margin-bottom: 5px;
  display: flex;
}

.template-description.blog-popular-posts ul li a {
  color: var(--dark-color);
}

.template-description.blog-popular-posts ul li.active a {
  color: var(--primary-color);
  text-decoration: underline;
}

.template-description.blog-popular-posts ul li::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-right: 14px;
  flex-shrink: 0;
  position: relative;
  top: 8px;
}

.blog-img {
  margin-bottom: 1.5rem;
}

.blog-img img {
  max-width: 90%;
}

.blog-text p {
  font-size: 17px;
  margin-bottom: 1.25rem;
}

.blog-text h1 a,
.blog-text h1 {
  color: var(--primary-color);
}

.blog-text h1 a:hover {
  opacity: 0.7;
}

.blog-text .btn-theme {
  margin-bottom: 3.35rem;
}

/*============= END BLOG PAGE =============*/

/*============= START CONTACT SECTION =============*/

#contact-footer {
  padding-bottom: 0;
  padding-top: 0;
  overflow: hidden;
}

.contact-scroll-container {
  height: 95px;
  position: relative;
}

#contact-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  /* height: 3550px; */
}

.contact-bg {
  background-image: linear-gradient(180deg, rgba(255,255,255), rgba(255, 255, 255, 0) 35%), radial-gradient(at 50% 58%, rgba(255,255,255,0.3) 20%, rgba(237, 224, 224, 0.4) 70%);
  /* background-image: linear-gradient(180deg, rgba(255,255,255), rgba(255,0,0,0) 35%), radial-gradient(at 50% 58%, rgba(255,255,255,0.3) 20%, rgba(29, 147, 216, 0.11) 70%); */
}

#contact.container {
  padding: 200px 40px 80px;
  max-width: 1760px;
}

#contact .contact-row {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.15);
}

#contact .contact-row .grid-8 {
  padding-left: 0;
  padding-right: 0;
}

/*-- Contact Content --*/

#contact .contact-content {
  padding: 50px 65px;
  background-color: var(--light-color);
}

.contact-content h3 {
  font-family: var(--font-montserrat-reg);
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-content h4 {
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-content h4 a {
  color: var(--dark-color);
}

.contact-content h4 a:hover {
  color: var(--primary-color);
}

/*-- Contact Form --*/

.contact-form .form-input {
  margin-bottom: 20px;
}

.contact-form .form-input .error-message p {
  padding-left: 12px;
  font-size: 13px;
  color: #cc0000;
  font-family: var(--font-montserrat-light);
}

.contact-form input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid var(--dark-color);
  outline: 0;
  font-family: var(--font-montserrat-reg);
}

.contact-form .form-message label {
  font-family: var(--font-montserrat-reg);
  font-size: 16px;
  display: block;
  width: 100%;
  padding-left: 12px;
  margin-bottom: 15px;
}

.contact-form .form-message textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid var(--dark-color);
  outline: 0;
  resize: none;
  font-size: 0.83rem;
  height: 200px;
  font-family: var(--font-montserrat-reg);
}

.contact-form .form-input.has-success input,
.contact-form .form-input.has-success textarea {
  border-bottom: 1.5px solid #39a782;
}

.contact-form .form-input.has-error input,
.contact-form .form-input.has-error textarea {
  border-bottom: 1.5px solid #cc0000;
}

.contact-form .submit-btn {
  width: 100%;
  padding: 12px;
  cursor: pointer;
  background: var(--dark-color);
  box-shadow: none;
  color: var(--light-color);
}

.contact-form .submit-btn:hover,
.contact-form .submit-btn:active,
.contact-form .submit-btn:focus {
  background: #232323;
}

.contact-form small {
  display: block;
  margin-top: 12px;
}

.contact-form small > a {
  color: var(--primary-color);
}

/*-- Contact Image --*/

#contact .contact-img {
  max-width: 100%;
  width: 100%;
}

#contact .contact-img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*============= END CONTACT SECTION =============*/

/*============= START FOOTER =============*/

#footer {
  padding: 50px 0;
}

#footer .footer-inner.container {
  max-width: 1170px;
  padding: 0 15px;
}

.footer-top,
.footer-bottom {
  margin-left: -15px;
  margin-right: -15px;
}

.footer-item .footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-item .footer-logo img {
  width: 45%;
  height: auto;
}

.footer-item ul.social-ul .orm-footer {
  padding-right: 0px;
  padding-top: 15px;
}

.footer-item.tagline p {
  font-size: 20px;
  font-family: var(--font-montserrat-bold);
}

.footer-item.grid-2 {
  margin-left: 8.333333%;
}

.footer-item span {
  margin-bottom: 12px;
  font-family: var(--font-montserrat-bold);
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-item ul li {
  margin-bottom: 12px;
}

.footer-item ul li a {
  font-size: 16px;
  color: var(--dark-color);
  font-family: var(--font-montserrat-reg);
}

.footer-item ul li a:hover {
  color: var(--primary-color);
}

.footer-item ul.social-ul li {
  display: inline-block;
  padding-right: 20px;
}

.footer-bottom {
  padding-top: 5.5rem;
}

.footer-bottom p,
.footer-bottom p span {
  font-family: var(--font-montserrat-reg);
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.footer-bottom p a {
  color: var(--primary-color);
}

.footer-bottom .footer-bottom-ul li {
  margin-left: 8px;
  margin-right: 8px;
}

.footer-bottom .footer-bottom-ul li a:hover {
  color: var(--primary-color);
}

/*============= END FOOTER =============*/

/*============= START 404 PAGE =============*/

.error-body {
  overflow-y: hidden !important;
  background: url(../img/home/leaves-background.webp) no-repeat center center/cover;
}

.error-body .navbar.show {
  background: transparent;
}

.error-container {
  height: 100vh;
  max-height: 100vh;
  position: relative;
  margin: 0 40px;
}

.error-container-inner {
  height: calc(100% - 80px);
  margin-top: 40px;
  background-color: var(--light-color);
}

.error-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-title .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-title .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-title .logo h1 {
  font-family: var(--font-montserrat-reg);
  font-size: 75px;
  color: var(--primary-color);
  padding-left: 15px;
}

.error-title .logo img {
  width: 70px;
  height: auto;
}

.error-title .text h3 {
  text-align: center;
  font-family: var(--font-montserrat-reg);
  color: var(--primary-color);
  font-size: 26px;
}

.error-title .text p {
  font-size: 16px;
  text-align: center;
}

.error-title .text p a {
  color: var(--primary-color);
}

.error-title .text small {
  display: block;
  text-align: center;
  font-family: var(--font-nunito-bold);
  text-transform: uppercase;
  color: var(--primary-color);
}

.here-underline {
  text-decoration: underline;
}

.here-underline:hover {
  text-decoration: underline;
}

.slide-text.text-2 h2 {
  padding: 0 25px;
  padding-top: 50px;
}

/*============= END 404 PAGE =============*/

.promobar {
  background: var(--primary-color);
  text-align: center;
  padding: 4px 20px;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
  width: 100%;
  z-index: 200;
  position: absolute;
  left: 0;
  top: 0;
}

.promobar p {
  font-size: 16px;
}



/* ad landing */

.ad-landing {
  min-height: 550px;
  background: #ddf0ff;
  padding-bottom: 175px;
}

.ad-logo-header {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
}

.ad-logo-header a {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.ad-logo-header a img {
  width: 45px;
  height: 45px;
}

.ad-logo-header a h1 {
  margin-left: 0.45rem;
  color: var(--primary-color);
  font-family: var(--font-montserrat-reg);
  font-size: 35px;
}

.ad-landing-caption {
  display: flex;
  align-items: center;
}

.ad-landing-caption h1 {
  font-family: var(--font-montserrat-bold);
  font-size: 60px;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-bottom: 0;
  color: var(--primary-color);
  text-transform: capitalize;
}

.ad-landing-caption h3 {
  font-size: 1.75rem;
  font-family: var(--font-montserrat-reg);
  margin-left: 25px;
  margin-right: 25px;
}

.ad-landing-caption h3 a {
  color: var(--dark-color);
}

.illustration-mobile-img {
  display: none;
  visibility: hidden;
}

.mt-32 {
  margin-top: 32px;
}

.ad-landing-content {
  padding-top: 175px;
}

.ad-landing-buttons {
  display: flex;
  justify-content: center;
}

.ad-landing-buttons a {
  box-sizing: border-box;
	 appearance: none;
	 background-color: transparent;
	 border: 2px solid var(--primary-color);
	 border-radius: 0.6em;
	 cursor: pointer;
	 display: flex;
	 align-self: center;
	 font-size: 1rem;
	 line-height: 1;
	 margin: 20px;
   font-family: var(--font-montserrat-bold);
	 padding: 1.2em 2.8em;
	 text-decoration: none;
	 text-align: center;
	 text-transform: uppercase;
    border-color: var(--primary-color);
	 color: var(--primary-color);
	 /* background-image: linear-gradient(45deg, var(--primary-color) 50%, transparent 50%);
	 background-position: 100%;
	 background-size: 400%; */
   background-color: transparent;
	 transition: all 300ms ease-in-out;
}

.ad-landing-buttons a:hover {
  /* background-position: 0; */
  background-color: var(--primary-color);
  color: var(--light-color);
}

.ad-landing-buttons .filled-alt {
  /* background-position: 0; */
  color: var(--light-color);
  background-color: var(--primary-color);
}

.ad-landing-buttons .filled-alt:hover {
  /* background-position: 100%; */
  background-color: transparent;
  color: var(--primary-color);
}

.ad-landing-buttons a:active,
.ad-landing-buttons a:focus {
  box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
}

#landing-intro {
  margin-top: 15rem;
}

#landing-intro .container {
  max-width: 1280px;
}

.ad-intro-img img {
  max-width: 80%;
  height: auto;
}

.ad-intro-buttons.ad-landing-buttons {
  justify-content: flex-start;
}

.ad-intro-buttons.ad-landing-buttons a {
  margin-left: 0;
}

.ad-intro-text h3 {
  font-family: var(--font-stix);
  font-size: 3.625rem;
  color: var(--primary-color);
  margin-bottom: 0.3rem;
  font-weight: normal;
  line-height: 1.3;
}

.custom-shape-divider-top-1660586134 {
  position: absolute;
  bottom: -185px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1660586134 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 188px;
}

.custom-shape-divider-top-1660586134 .shape-fill {
  fill: #ddf0ff;
}

#ad-features {
  padding: 0px 0;
}

#ad-features .container {
  max-width: 1390px;
}

.ad-feature {
  padding: 0 30px;
}

.ad-feature h4 {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
  font-family: var(--font-stix);
  font-weight: 400;
}

.ad-feature p {
  text-align: center;
  font-family: var(--font-montserrat-reg);
  font-size: 1rem;
}

.ad-feature a {
  text-align: center;
  display: block;
  margin-top: 16px;
  color: var(--dark-color);
}

.ad-feature a:hover {
  color: var(--primary-color);
}

#contact-cta h3 {
  margin-bottom: 1.1rem;
  font-family: var(--font-montserrat-reg);
  font-size: 2.95rem;
  font-weight: normal;
  color: var(--dark-color);
}

#contact-cta h2 {
  margin-bottom: -1rem;
}

.illustration-img {
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
}

.illustration-img img {
  width: 400px;
  height: auto;
}

#contact-cta h3 a {
  color: var(--dark-color);
}