/*============= ROOT =============*/ 
:root {
  --primary-color: #CD2626;
  --secondary-color: #FF6633;
  --light-color: #ffffff;
  --dark-color: #333;
}

/*============= START PRELOADER =============*/ 
.pre-loader {
  position: fixed;
  overflow: hidden;
  background: var(--dark-color);
  height: 100%;
  width: 100%;
  z-index: 3000;
  transition: all 0.85s ease;
}

.mb-10 {
  margin-bottom: 10px;
}

.loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: animloader44 2s linear infinite;
  -webkit-animation: animloader44 2s linear infinite;
}

a::before,
a::after {
  transition: 0.3s ease;
}

.landing-btn {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff;
  background: var(--primary-color);
  pointer-events: auto;
  cursor: pointer;
  border: 3px solid var(--primary-color);
  padding: 1rem 2.5rem;
  margin: 0;
  font-family: inherit;
  position: relative;
  display: inline-block;
}

.landing-btn:hover {
  background: none; 
}

.landing-btn::before {
  content: '';
  background: var(--primary-color);
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  position: absolute;
  top: 0;
  height: 105%;
}

.landing-btn span {
  position: relative;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

}

.landing-btn:hover::before {
  transform: translate3d(100%,0,0);
}




.pre-loader.loaded {
  opacity: 0;
  z-index: 0 !important;
}

ul {
  list-style-type: none;
}

.nav-grid-2 {
  flex: 0 0 22.666667%;
  max-width: 22.666667%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
}

.nav-grid-10 {
  width: 100%;
  min-height: 1px;
  flex: 0 0 77.333333%;
  max-width: 77.333333%;
}

@keyframes animloader44 {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }

  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 2px;
  }

  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 2px,  -38px 0 0 -2px;
  }

  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }

  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}
/*============= END PRELOADER =============*/

.btn-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn-theme {
  color: var(--primary-color);
	 cursor: pointer;
	 font-size: 18px;
	 font-weight: 600;
	 line-height: 45px;
	 margin: 0 0 2em;
	 /* max-width: 160px; */
   padding: 0 30px;
   border: 3px solid;
   display: block;
	 overflow: hidden;
	 position: relative;
	 text-decoration: none;
	 text-transform: uppercase;
	 /* width: 100%; */
}

.btn-theme span {
  z-index: 50;
}

.btn-theme::after {
  background: var(--primary-color);
	 content: "";
	 height: 155px;
	 left: -75px;
	 opacity: 0.7;
	 position: absolute;
	 top: -50px;
	 transform: rotate(35deg);
	 transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
	 width: 50px;
	 z-index: 0;
}

.btn-theme:hover:after {
  left: 120%;
	 transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-theme:active {
  background: var(--primary-color);
  color: var(--light-color);
  border-color: var(--primary-color);
}

footer .btn-theme {
  color: var(--secondary-color);
}

footer .btn-theme::after {
  background: var(--secondary-color);
}

footer .btn-theme:active {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--dark-color);
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.btn-booking {
  background: none;
  cursor: pointer;
}

.btn-booking span {
  font-family: var(--font-catamaran-reg);
  font-weight: 600;
}

.btn-unset {
  all: unset;
  cursor: pointer;
}

/*============= START BLOCK REVEAL ANIMATIONS =============*/ 
.reveal-lr,
.reveal-rl,
.reveal-tb,
.reveal-bt {
  position: relative;
  overflow: hidden;
}

.reveal-lr[data-aos=block-reveal].aos-animate > *,
.reveal-rl[data-aos=block-reveal].aos-animate > *,
.reveal-tb[data-aos=block-reveal].aos-animate > *,
.reveal-bt[data-aos=block-reveal].aos-animate > * {
  animation: fadeIn 0s 0.6s;
  animation-fill-mode: backwards;
}

.reveal-lr[data-aos=block-reveal]:not[aos-animate],
.reveal-rl[data-aos=block-reveal]:not[aos-animate],
.reveal-tb[data-aos=block-reveal]:not[aos-animate],
.reveal-bt[data-aos=block-reveal]:not[aos-animate] {
  opacity: 0;
}

.reveal-lr[data-aos=block-reveal].aos-animate::after,
.reveal-rl[data-aos=block-reveal].aos-animate::after,
.reveal-tb[data-aos=block-reveal].aos-animate::after,
.reveal-bt[data-aos=block-reveal].aos-animate::after {
  position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--dark-color);
}

.reveal-lr[data-aos=block-reveal].aos-animate::after {
  transform: translateX(-100%);
  animation: revealInLTR 0.6s 0s, revealOutLTR 0.6s 0.6s;
  animation-timing-function: cubic-bezier(1,0.01,0,1);
  animation-fill-mode: forwards;
}

.reveal-rl[data-aos=block-reveal].aos-animate::after {
  transform: translateX(100%);
	animation: revealInRTL 0.6s 0s, revealOutRTL 0.6s 0.6s;
  animation-timing-function: cubic-bezier(1,0.01,0,1);
	animation-fill-mode: forwards;
}

.reveal-tb[data-aos=block-reveal].aos-animate::after {
	transform: translateY(-100%);
	animation: revealInTTB 0.6s 0s, revealOutTTB 0.6s 0.6s;
  animation-timing-function: cubic-bezier(1,0.01,0,1);
	animation-fill-mode: forwards;
}

.reveal-bt[data-aos=block-reveal].aos-animate::after {
  transform: translateY(100%);
	animation: revealInBTT 0.6s 0s, revealOutBTT 0.6s 0.6s;
  animation-timing-function: cubic-bezier(1,0.01,0,1);
	animation-fill-mode: forwards;
}

[data-aos^=block-reveal][data-aos^=block-reveal] {
  opacity: 0;
  transition-property: opacity,transform;
}

[data-aos^=block-reveal][data-aos^=block-reveal].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes revealInLTR {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes revealOutLTR {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(101%);
	}
}

@keyframes revealInRTL {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes revealOutRTL {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-101%);
	}
}

@keyframes revealInTTB {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes revealOutTTB {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(101%);
	}
}

@keyframes revealInBTT {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes revealOutBTT {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-101%);
	}
}
/*============= END BLOCK REVEAL ANIMATIONS =============*/ 

/*============= IF FRAMEWORK FIXED NAVBAR IS JUMPING ON SCROLL =============
.fixed-top  {
	-webkit-backface-visibility: hidden;
}
*/

.border-none {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.polaris-heading {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: center;
}

.polaris-heading h1 {
  position: relative;
  display: inline-block;
    font-family: var(--font-catamaran-bold);
    color: var(--primary-color);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

  font-size:36px; 
  font-weight:700;  
  letter-spacing:1px; 
  text-transform:uppercase; 
  /* width:160px;  */
  text-align:center; 
  margin:auto; 
  /* white-space:nowrap;  */
  padding-bottom:13px;
}

.polaris-heading h1::before {
  background-color: var(--primary-color);
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 60px;
    margin-bottom: 0.25rem;
}
/* 
.polaris-heading h1:before {
    background-color: var(--primary-color);
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.polaris-heading h1:after {
    background-color: var(--primary-color);
    content: '';
    display: block;
  position:absolute; 
  right:0; 
  bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
} */

#external-landing {
  position: relative;
  z-index: 0;
  overflow: auto;
}

#external-landing .bg {
  background-image: url(../img/temp-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 60vh;
}

#external-landing .container {
  height: 100%;
  position: relative;
  max-width: 1276px;
  display: flex;
  flex-wrap: wrap;
}

.external-landing-title {
  width: auto;
  min-width: calc(50% + 50px);
  padding: 50px 50px 30px 50px;
  transform: translateX(-50px);
  background-color: rgba(255,255,255,.8);
  position: absolute;
  left: 0;
  bottom: 46px;
}

.external-landing-title h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.external-landing-title .breadcrumbs {
  display: table-row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.external-landing-title .breadcrumbs li {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
}

.external-landing-title .breadcrumbs li a {
  color: var(--dark-color);
}

/*============= Start Framework =============*/
.container {
	max-width: 1610px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.theme-heading {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.theme-heading.lessonsh h1::before,
.theme-heading.lessonsh h1::after {
  background-color: var(--secondary-color);
  border-bottom-color: var(--light-color);
  border-top-color: var(--light-color);
}

.theme-heading h1 {
  text-align: center;
  font-size: 45px; 
  font-weight:300; 
  color: var(--dark-color); 
  letter-spacing:1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  position: relative;
}

.theme-heading h1::before,
.theme-heading h1::after {
  content: '';
  display: block;
  border-bottom: 1.5px solid var(--primary-color);
  border-top: 1.5px solid var(--primary-color);
  height: 10px;
  background-color: var(--light-color);
  width: 150px;
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.navbar-expand {
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

/*-- Start Spacing --*/	
.p-1 {
	padding: 0.25rem;
}

.m-auto {
	margin: auto !important;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.d-none {
	display: none;
}
	
.d-block {
	display: block;
}
/*-- End Spacing --*/

/* Start Text */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1, h1 {
  font-size: 2.5rem;
}
/* End Text */

/*-- Start Colors --*/
.bg-dark {
	background-color: var(--dark-color);
}

.text-white {
	color: var(--light-color);
}
/*-- End Colors --*/

/*-- Start Flexbox --*/
.d-flex {
	display: flex;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}

.flex-1 {
	flex: 1;
}

.order-1 {
	order: 1;
}
	
.order-2 {
	order: 2;
}
	
.order-3 {
	order: 3;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/*-- End Flexbox --*/

/*-- Start Grid System --*/
.grid, .grid-1, .grid-10, .grid-11, .grid-12, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-auto, .grid-lg, .grid-lg-1, .grid-lg-10, .grid-lg-11, .grid-lg-12, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-auto, .grid-md, .grid-md-1, .grid-md-10, .grid-md-11, .grid-md-12, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-auto, .grid-sm, .grid-sm-1, .grid-sm-10, .grid-sm-11, .grid-sm-12, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-auto, .grid-xl, .grid-xl-1, .grid-xl-10, .grid-xl-11, .grid-xl-12, .grid-xl-2, .grid-xl-3, .grid-xl-4, .grid-xl-5, .grid-xl-6, .grid-xl-7, .grid-xl-8, .grid-xl-9, .grid-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.grid {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.grid-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.grid-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.grid-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.grid-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.grid-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.grid-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.grid-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.grid-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.grid-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.grid-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.grid-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.grid-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* Devices under 1200px (lg) */
@media (max-width: 1199.98px) {
  .grid-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 992px (md) */
@media (max-width: 991.98px) {
  .grid-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 768px (sm) */
@media (max-width: 767.98px) {
  .grid-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 568px (xs) */
@media (max-width: 576.98px) {
  .grid-xs-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-xs-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-xs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-xs-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-xs-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-xs-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-xs-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-xs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-xs-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-xs-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 382px (xxs) */
@media (max-width: 381.98px) {
  .grid-xxs-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-xxs-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-xxs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-xxs-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-xxs-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-xxs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-xxs-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-xxs-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-xxs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-xxs-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-xxs-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-xxs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*-- End Grid System --*/
/*============= End Framework =============*/

/*============= Start General Utilities =============*/
/*-- Start Buttons --*/
button:focus,
a:focus,
a.btn:focus {
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

button,
a,
a.btn {
  transition: all 0.6s ease;
}

a, a:hover {
  text-decoration: none;
}
/*-- End Buttons --*/

.list-inline {
  padding-left: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
/*============= End General Utilities =============*/

/* Styling the modal and backdrop */

dialog {
  width: 100%;
  max-width: 50%;
  padding: 0;
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #dedede;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: auto;
  animation: scale-in 0.4s ease-out;
}

dialog::backdrop {
  background: radial-gradient(circle,rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.7) 100%);
  cursor: pointer;
}

/* Styling inside of the modal */

dialog header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
}

dialog header button {
  background: none;
  color: inherit;
  border: none;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: -10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

dialog header button svg {
  width: 35px;
  height: 35px;
  fill: #607d8b;
}

.square-booking-iframe {
  width: 100%;
  min-height: 80vh;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
     transform: translateY(0);
  }
}