/*============= START PRELOADER =============*/ 
.pre-loader {
  position: fixed;
  overflow: hidden;
  background: var(--dark-color);
  height: 100%;
  width: 100%;
  z-index: 3000;
  transition: all 0.85s ease;
}

.loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  display: inline-block;
  position: relative;
  color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: animloader44 2s linear infinite;
  -webkit-animation: animloader44 2s linear infinite;
}

.pre-loader.loaded {
  opacity: 0;
  z-index: 0 !important;
}

@keyframes animloader44 {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }

  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 2px;
  }

  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 2px,  -38px 0 0 -2px;
  }

  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }

  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}


/*============= Utilities =============*/

button:focus,
a:focus,
a.btn:focus {
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none;
}

.master-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem auto;
  flex-wrap: wrap;
  max-width: 1200px;
}

.theme-heading h1,
.theme-h1 {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  padding-left: 5px;
  border-left: 3px solid var(--contrast-red);
}

.theme-heading h3,
.theme-h3 {
  font-size: 1.55rem;
}

.theme-heading h4,
.theme-h4 {
  font-size: 1.1rem;
  font-weight: 400;
}

.theme-heading-border {
  padding-left: 5px;
  border-left: 3px solid var(--contrast-red);
}

.features-text-inner h2.theme-heading-border {
  border-color: var(--light-color);
}

/* Button Base Styling */

.btn-base {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  outline: none;
  text-decoration: none;
  color: var(--dark-color);
  line-height: 1.5;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  transition: box-shadow var(--transition-speed-primary) ease, color var(--transition-speed-primary) ease;
}

.btn-base:hover {
  text-decoration: none;
  color: var(--light-color);
}

/*============= EXTERNAL PAGE UTILITIES =============*/

.landing-external.landing-page .landing-img {
  height: 46vh;
}

.landing-external.landing-page .landing-contact.landing-img-inner {
  background: url(../img/landing/landing-contact.jpg) no-repeat center center/cover;
} 

.landing-external.landing-page .landing-why-us.landing-img-inner {
  background: url(../img/landing/landing-why.jpg) no-repeat center center/cover;
} 

.landing-external.landing-page .landing-our-work.landing-img-inner {
  background: url(../img/landing/landing-our-work.jpg) no-repeat center center/cover;
} 

.landing-external.landing-page .landing-partners.landing-img-inner {
  background: url(../img/landing/landing-partners.jpg) no-repeat center center/cover;
}

.landing-external.landing-page .landing-residential.landing-img-inner {
  background: url(../img/landing/landing-services-residential.jpg) no-repeat center center/cover;
} 

.external.master-container {
  max-width: 1440px;
}

/* External Heading */

.external .external-heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.7rem 12px;
}

.external-heading-reverse {
  flex-flow: row-reverse;
}

.external-heading .external-heading-left,
.external-heading .external-heading-right {
  flex: 0 0 47%;
  max-width: 47%;
}

.external-heading-left h2 {
  font-size: 2rem;
}

.external-heading-left small {
  color: var(--light-contrast);
}

.external-heading-right img {
  max-width: 100%;
}

.external .external-heading-alt {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
  width: 100%;
  color: var(--ruby-red);
}

.external .external-heading-alt p {
  font-size: 1.2rem;
  text-transform: none;
  color: var(--dark-color);
}

/*============= Modified Bootstrap classes =============*/
.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

/* Spacing */
    
.p-1 {
  padding: 0.25rem;
}

.m-auto {
  margin: auto !important;
}

.ml-auto {
  margin-left: auto;
}
  
.mr-auto {
  margin-right: auto;
}
  
.d-none {
  display: none;
}
    
.d-block {
  display: block;
}

.text-left {
  text-align: left;
}
  
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Colors */
.bg-dark {
  background-color: #343a40;
}
  
.text-white {
  color: #fff;
}

/* Flexbox */
.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}
  
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}
  
.flex-1 {
  flex: 1;
}
  
.order-1 {
  order: 1;
}
    
.order-2 {
  order: 2;
}
    
.order-3 {
  order: 3;
}
  
.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}