@media(max-width: 1843px) {
  .instructions{
    position: static;
  }
}

@media(max-width: 787px) {
  .add-qb,
  .add-receiver {
    font-size: 32px;
    padding: 20px 40px;
  }

  body p {
    max-width: 100%;
  }
}

@media(max-width: 575px) {
  .field-container {
    max-width: 100%; /* ????? */
  }
}