/*============= MEDIA QUERIES =============*/

/* Devices over 2500px (xxl) */
@media (min-width: 2500px) {
	/* Framework Start */
  .container {
		max-width: 1500px;
	}
	/* Framework End */

  /* Start About Section */
  section#about .container-fluid {
    max-width: 3000px;
  }

  #about .info-wrapper {
    margin: auto 40px auto -120px;
    padding: 70px 100px 100px 70px;
  }

  #about .info-wrapper.reversed {
    margin: auto -120px auto 40px;
    padding: 70px 70px 100px 100px;
  }

  #about .info-wrapper h1 {
    font-size: 70px;
  }

  #about .info-wrapper ul {
    font-size: 35px;
    margin: 30px 0px 60px;
  }

  #about .btn-secondary {
    font-size: 20px;
    padding: 20px 28px;
  }
  /* End About Section */

  /*============= START SERVICES PAGE =============*/
  #services .card {
    height: 485px;
  }
  /*============= END SERVICES PAGE =============*/

  /*============= START PROJECT PAGE =============*/
  #gallery .container-fluid {
    padding: 0 200px;
  }
  /*============= END PROJECT PAGE =============*/
}

/* Devices under 1200px (lg) */
@media (max-width: 1199.98px) {
	/* Framework Start */
	.container {
		max-width: 960px;
	}
	/* Framework End */

  /* Start Navigation */
  .navbar {
    padding: 40px 0px;
  }
  /* End Navigation */

  /* Start Landing Page */
  #landing-page .social-links {
    right: -120px;
  }

  #landing-page .content {
    margin-left: 20px;
  }

  #landing-page .content h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .scroll-down-animation {
    bottom: 50px;
    left: 12px;
  }
  /* End Landing Page */

  /* Start About Section */
  #about .image-wrapper, #about.image-wrapper.reversed {
    height: calc(25vw + 60px);
  }

  #about .image-wrapper .animate-image img {
    box-shadow: var(--primary-color) 35px 35px;
  }

  #about .image-wrapper.reversed .animate-image img {
    box-shadow: var(--primary-color) -35px 35px;
  }

  #about .info-wrapper {
    margin: auto 0px auto -80px;
    padding: 12px 20px 30px 20px;
  }

  #about .info-wrapper.reversed {
    margin: auto -80px auto 0px;
    padding: 12px 20px 30px 20px;
  }

  #about .btn-secondary {
    padding: 10px 12px;
  }

  #about .info-wrapper h1 {
    font-size: 40px;
  }

  #about .info-wrapper ul {
    font-size: 20px;
    margin: 0px 0px 25px;
  }
  /* End About Section */

  /* Start Experience Section */
  #experience p {
    margin: 30px 0px 0px;
  }
  /* End Experience Section */

  /*============= START SERVICES PAGE =============*/
  #services .card {
    height: 385px;
  }
  /*============= END SERVICES PAGE =============*/

  /*============= START PROJECT PAGE =============*/
  #gallery .container-fluid {
    padding: 0 50px;
  }

  #gallery .external-gallery-wrap {
    column-count: 3;
  }
  /*============= END PROJECT PAGE =============*/
}

/* Devices under 992px (md) */
@media (max-width: 991.98px) {
	/* Framework Start */
	.container {
		max-width: 720px;
	}

  .w-md-100 {
    width: 100%;
  }

  .mb-md-40 {
    margin-bottom: 40px;
  }
	/* Framework End */

  /* Start Navigation */
  .navbar .main-nav {
    display: none;
  }
  
  .navbar-toggle {
    display: block;
  }
  
  #navbar-offcanvas {
    display: block;
  }
  /* End Navigation */

  /* Start Landing Page */
  #landing-page .content h1 {
    font-size: 50px;
    line-height: 60px;
  }

  #landing-page .content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  /* End Landing Page */

  /* Start About Section */
  #about .info-wrapper h1 {
    font-size: 30px;
  }

  #about .info-wrapper ul {
    font-size: 18px;
    margin: 0px 0px 25px;
  }
  /* End About Section */

  /* Start Delivery Section */
  section#delivery, section#about {
    padding: 90px 0;
  }

  #delivery .image-wrapper {
    margin-right: 10px;
  }

  #delivery .info-wrapper {
    margin-left: 10px;
  }

  #delivery .info-wrapper ul {
    margin-right: 0px;
  }

  #delivery .info-wrapper h2 {
    margin-bottom: 15px;
  }

  #delivery .info-wrapper p {
    font-size: 14px;
  }
  /* End Delivery Section */

  /* Start Contact Footer Section */
  #contact-footer > .container > .row > :first-child {
    padding-right: 0px;
  }
  /* End Contact Footer Section */

  /*============= START SERVICES PAGE =============*/
  /*============= END SERVICES PAGE =============*/

  /*============= START PROJECT PAGE =============*/
  #gallery .container-fluid {
    padding: 0 20px;
  }
  /*============= END PROJECT PAGE =============*/

  /*============= START CONTACT PAGE =============*/
  #contact iframe {
    height: 500px;
  }

  #contact .contact-form {
    margin: 0 0 30px;
  }
  /*============= END CONTACT PAGE =============*/
}

/* Devices under 768px (sm) */
@media (max-width: 767.98px) {
	/* Framework Start */
	.container {
		max-width: 540px;
	}
	.d-sm-block {
		display: block!important;
	}

  .mb-sm-10 {
    margin-bottom: 10px;
  }
	/* Framework End */

  .text-subtitle {
    margin-bottom: 15px;
  }

  .section-subtitle {
    font-size: 12px;
  }

  /* Start Landing Page */
  #landing-page .content p {
    font-size: 15px;
  }
  /* End Landing Page */

  /* Start About Section */
  section#about {
    padding: 80px 40px;
  }

  #about .image-wrapper {
    height: calc(49vw + 11px);
    clip-path: inset( -100vw -100vw -100vw 0 );
  }

  #about .info-wrapper, #about .info-wrapper.reversed {
    margin: 0px;
    box-shadow: none;
  }

  #about .image-wrapper .animate-image img {
    box-shadow: var(--primary-color) 35px 120px;
  }

  #about .image-wrapper.reversed .animate-image img {
    box-shadow: var(--primary-color) -35px 120px;
  }

  #about .row {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  }

  #about .order-2 {
    order: 1;
  }

  #about .order-1 {
    order: 2;
  }

  #about .image-wrapper.reversed {
    clip-path: inset( -100vw 0 -100vw -100vw );
  }
  /* End About Section */

  /* Start Delivery Section */
  section#delivery {
    padding: 70px 50px;
  }

  #delivery .container {
    max-width: 400px;
  }

  #delivery .row {
    justify-content: flex-start;
  }

  #delivery .image-wrapper {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  #delivery .info-wrapper {
    margin-left: 0px;
  }
  /* End Delivery Section */

  /* Start Experience Section */
  #experience p {
    margin-top: 10px;
  }
  /* End Experience Section */

  /*============= START SERVICES PAGE =============*/
  section#services {
    padding: 90px 20px;
  }

  #services .card {
    height: 360px;
  }
  /*============= END SERVICES PAGE =============*/

  /*============= START PROJECT PAGE =============*/
  section#gallery {
    padding: 90px 32px;
  }

  #gallery .container-fluid {
    padding: 0 0px;
  }

  #gallery .external-gallery-wrap {
    column-count: 2;
  }
  /*============= END PROJECT PAGE =============*/
}

/* Devices under 576px (xs) */
@media (max-width: 576.98px) {
	/* Framework Start */
	.container, #delivery .container {
		width: 100%;
	}

  .mb-xs-20 {
    margin-bottom: 20px;
  }
	/* Framework End */

  section#contact-footer, section#promo-video, section#delivery, section#experience {
    padding: 90px 32px;
  }

  .main-header {
    font-size: 35px;
  }

  /* Start Scroll To Top */
  .scroll-top {
    padding: 8px 11px;
  }
  /* End Scroll To Top */

  /* Start Landing Page */
  section#landing-page {
    padding: 100px 0px;
  }

  #landing-page .social-links {
    display: none;
  }
  /* End Landing Page */

  /* Start About Section */
  #about .image-wrapper .animate-image img {
    box-shadow: var(--primary-color) 35px 100px;
  }

  #about .image-wrapper.reversed .animate-image img {
    box-shadow: var(--primary-color) -35px 100px;
  }

  #about .image-wrapper, #about .image-wrapper.reversed {
    height: calc(53vw - 20px);
  }
  /* End About Section */

  /* Start Contact Footer Section */
  #contact-footer h1 {
    font-size: 27px;
  }

  .social-icon-alt li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
  /* End Contact Footer Section */

  /* Start Footer Section */
  #footer p {
    font-size: 12px;
  }
  /* End Footer Section */

  /*============= START EXTERNAL PAGES =============*/
  header#page-title {
    position: relative;
    height: 25vh;
    background: #252525 url("../img/Headings/todd-quackenbush-IClZBVw5W5A-unsplash.jpg") no-repeat center center/cover;
    margin: 10px;
    border-radius: 5px;
  }

  header#page-title h1 {
    font-size: 35px;
  }
  /*============= END EXTERNAL PAGES =============*/

  /*============= START SERVICES PAGE =============*/
  #services .card {
    height: calc(67vw + 110px);
  }

  #services .card h2 {
    font-size: 22px;
  }

  #services .card p {
    font-size: 15px;
  }
  /*============= END SERVICES PAGE =============*/

  /*============= START PROJECT PAGE =============*/
  #gallery .external-gallery-wrap {
    column-count: 1;
  }
  /*============= END PROJECT PAGE =============*/

  /*============= START CONTACT PAGE =============*/
  section#contact {
    padding: 60px 15px;
  }

  #contact iframe {
    height: 400px;
  }

  #contact .contact-form {
    padding: 25px;
  }
  /*============= END CONTACT PAGE =============*/
}

/* Devices under 382px (xxs) */
@media (max-width: 381.98px) {
	/* Framework Start */
	/* Framework End */
  section, section#contact-footer, section#contact, section#gallery, section#services, section#promo-video, section#experience {
    padding: 50px 5px;
  }

  /* Start Scroll To Top */
  .scroll-top {
    padding: 7px 10px;
    font-size: 14px;
  }
  /* End Scroll To Top */

  /* Start Navigation */
  .navbar #nav-logo {
    font-size: 22px;
  }

  .navbar-toggle {
    right: 5px;
    top: 49px;
  }

  .navbar-toggle.scrolled, .navbar-toggle.navbar-active {
    right: 5px;
    top: 9px;
  }

  .nav-up {
    top: -81px;
  }
  
  .navbar-toggle.nav-up {
    top: -50px;
  }

  #navbar-offcanvas {
    width: 100%;
    transform: translateX(100%);
  }

  #navbar-offcanvas ul li {
    padding: 20px 60px;
  }
  /* End Navigation */
  
  /* Start Landing Page */
  #landing-page .content {
    margin-left: 10px;
  }

  #landing-page .content h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
  }

  #landing-page .content p {
    font-size: 14px;
    line-height: 8px;
    margin-bottom: 70px;
  }

  .scroll-down-animation {
    left: 0px;
  }
  /* End Landing Page */

  /* Start About Section */
  #about .image-wrapper .animate-image img {
    box-shadow: var(--primary-color) 35px 70px;
  }

  #about .image-wrapper.reversed .animate-image img {
    box-shadow: var(--primary-color) -35px 70px;
  }
  /* End About Section */

  /* Start Delivery Section */
  section#delivery {
    padding: 50px 10px;
  }

  #delivery .info-wrapper h2 {
    margin-bottom: 5px;
}

  #delivery p {
    font-size: 10px;
    margin-left: 25px;
  }
  /* End Delivery Section */

  /* Start Footer */
  #footer .container .row {
    margin: 0 -15px;
  }
  /* End Footer */

  /*============= START EXTERNAL PAGES =============*/
  .navbar-height {
    height: 72px;
  }
  /*============= END EXTERNAL PAGES =============*/

   /*============= START SERVICES PAGE =============*/
   #services .card {
    height: calc(75vw + 130px);
  }

  #services .card h2 {
    font-size: 20px;
  }

  #services .card p {
    font-size: 14px;
  }
  /*============= END SERVICES PAGE =============*/

  /*============= START CONTACT PAGE =============*/
  .form-control {
    font-size: 14px;
  }
  /*============= END CONTACT PAGE =============*/
}

/*============ FRAMEWORK BREAK POINTS: =============*/

/* 

Small (xxs) small devices (portrait phones, 382px and below)
@media (max-width: 382px) { ... }

Small (xs) small devices (portrait phones, 576px and below)
@media (max-width: 576px) { ... }

Small (sm) devices (landscape phones, 768px and below)
@media (max-width: 768px) { ... }

Medium (md) devices (tablets, 992px and below)
@media (max-width: 992px) { ... }

Large (lg) devices (desktops, 1200px and below)
@media (max-width: 1200px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
No media query since this is the default in Framework

Extra (xxl) large devices (large desktops, 2500px and up)
@media (min-width: 2500px) { ... } 

*/

