/*============= MEDIA QUERIES =============*/

/* Devices over 1200px (xl) */
@media (min-width: 1200px) {
	/* Framework Start */
	/* Framework End */
}

/* Devices under 1200px (lg) */
@media (max-width: 1199.98px) {
  .navbar-center,
  .navbar-right {
    display: none;
    visibility: hidden;
  }

  .navbar-toggle {
    display: block;
    visibility: visible;
  }
  .mobile-ul {
    opacity: 1;
    background-color: #000;
  }

  .mobile-ul ul svg {
    fill: #919191;
  }

  .mobile-ul ul {
    display: flex;
    visibility: visible;
    flex-flow: column;
    padding-top: 160px;
    justify-content: flex-end;
    text-align: right;
    margin-left: 85px;
  }

  .mobile-ul ul li {
    font-size: 26px;
  }

  .mobile-ul ul li a {
    color: #919191;
  }
}

/* Devices under 992px (md) */
@media (max-width: 991.98px) {
	.landing-caption .title {
    font-size: 60px;
    line-height: 60px;
  }

  .splide__arrows {
    display: none;
    visibility: hidden;
  }

  #contact .grid-10 h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}
}

/* Devices under 768px (sm) */
@media (max-width: 767.98px) {
  .landing-caption-wrap {
    z-index: 25;
  }

  #about .about-img {
    padding-right: 25px;
  }

  #about .about-img img {
    float: none;
  }

  #about .container {
    flex-wrap: wrap;
  }

  .mobile-ul {
    width: 75%;
  }

  .custom-shape-divider-top-1646181805 svg {
    width: calc(216% + 1.3px);
  }

  .about-img {
    margin-bottom: 50px;
  }

  #contact .grid-10 h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

  .contact-inner {
    flex-wrap: wrap;
  }

  .navbar .navbar-brand {
    font-size: 18px;
  }

  #landing-page {
    height: auto;
  }

  #landing-page .container {
    flex-wrap: wrap;
    flex-flow: column-reverse;
  }

  #landing-page .landing-img {
    padding-top: 100px;
    padding-bottom: 25px;
    margin: 0 auto;
  }

}

/* Devices under 576px (xs) */
@media (max-width: 576.98px) {
  #about .about-img {
    padding-left: 0;
    padding-right: 0;
  }

  #contact .grid-10 h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

  .navbar-brand .t-add {
    display: none;
    visibility: hidden;
  }

  .navbar-brand .t-remove {
    display: block;
    visibility: visible;
  }

}

@media (max-width: 381.98px) {
  .landing-caption .title {
    font-size: 45px;
    line-height: 45px;
}

#about .container {
  padding-left: 0;
  padding-right: 0;
}

.mobile-ul {
  width: 100%;
}
}

/*============ FRAMEWORK BREAK POINTS: =============*/

/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Framework

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
