/*============= RESETS =============*/
/* font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

/*-- iPhone X Remove Gutters --*/
html {
  padding: env(safe-area-inset);
}
  
html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-catamaran);
  background-color: var(--contrast-color);
  line-height: 1.5;
}

/*============= SCROLLBAR =============*/
::-webkit-scrollbar {
  width: 12px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #333;
}

/*============= HIGHLIGHT =============*/
::selection {
  color: #fff;
  background: #000;
}

/*============= LIGHTBOX =============*/
.fslightbox-absoluted {
  transition: none;
}

/*============= START NAVIGATION =============*/
.text-primary {
  color: var(--primary-color);
}

.navbar {
  position: fixed;
  padding: 0.7rem 1rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 60;
  box-shadow: 0px 1px rgb(0 0 0 / 10%);
}

.t-remove {
  display: none;
  visibility: hidden;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-catamaran-bold);
  color: var(--dark-color);
  letter-spacing: 0.25rem;
  margin-right: 0;
}

.navbar .navbar-brand img {
  max-height: 50px;
  width: auto;
  padding-right: 10px;
}

.navbar-ul ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.mobile-ul {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 50%;
  background: var(--light-color);
  transform: translateX(100%);
  z-index: 110;
  height: 100%;
}

.mobile-ul ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-right: 2.5rem;
}

.mobile-ul.js-navbar-toggled {
  transform: translateX(0);
}

.navbar-toggle {
  position: fixed;
  right: 5px;
  top: 18px;
  z-index: 21;
  padding: 6px 0 0 0;
  margin: 0 auto;
  display: none;
  visibility: hidden;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
  cursor: pointer;
  text-decoration: none;
}

.navbar-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: var(--dark-color);
}

.navbar-toggle i::before,
.navbar-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: var(--dark-color);
  position: absolute;
  left: 0;
  transition: top .1s ease-out, bottom .1s ease-out, transform 0.3s ease-out;
}

.navbar-toggle i::before {
  top: -8px;
}

.navbar-toggle i::after {
  bottom: -8px;
}

.navbar-toggle.js-navbar-toggled i {
  background: transparent !important;
}

.navbar-toggle.js-navbar-toggled i::before, 
.navbar-toggle.js-navbar-toggled i::after {
  background: var(--dark-color);
}

.navbar-toggle.js-navbar-toggled i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ( 45deg);
}

.navbar-toggle.js-navbar-toggled i::after {
  bottom: 0;
  -webkit-transform: rotateZ( -45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ( -45deg);}

.navbar-ul ul li {
  font-family: var(--font-catamaran-bold);
  text-transform: uppercase;
  color: var(--dark-color);
  letter-spacing: 0.2rem;
  font-size: 14px;
  transition: 0.3s ease;
  margin-right: 16px;
  border-bottom: 1px solid transparent;
}

.navbar-ul ul li:hover,
.navbar-ul li.active {
  border-bottom: 1px solid var(--dark-color);
}

.navbar-ul ul li:last-of-type {
  margin-right: 0;
}

.navbar-ul ul li a {
  color: var(--dark-color);
}

/*============= END NAVIGATION =============*/

/*============= START LANDING PAGE =============*/

#landing-page {
  height: 100vh;
}

#landing-page .container,
#landing-page .landing-caption-wrap,
#landing-page .landing-img {
  height: 100%;
}

.landing-caption .subtitle {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-left: 35px;
  text-transform: uppercase;
  color: var(--dark-color);
  font-family: var(--font-catamaran-bold);
}

.landing-caption .subtitle::after {
  width: 25px;
  position: absolute;
  content: "";
  left: 0;
  height: 1px;
  background: var(--primary-color);
  top: 10px;
}

.landing-caption .title {
  color: var(--dark-color);
  font-family: var(--font-catamaran-bold);
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 25px;
  margin-left: -4px;
}

.landing-caption .title span {
  color: var(--primary-color);
}

.landing-caption .title-p {
  color: #808080;
  font-size: 16px;
}

.landing-img {
  margin-left: 150px;
}

.landing-img img {
  max-width: 90%;
  height: auto;
  /* box-shadow: 9.9px 9.9px 2.2px rgba(0, 0, 0, 0.083), 18.9px 18.9px 5.3px rgba(0, 0, 0, 0.102), 27.4px 27.4px 10px rgba(0, 0, 0, 0.109), 36.3px 36.3px 17.9px rgba(0, 0, 0, 0.11), 50.1px 50.1px 33.4px rgba(0, 0, 0, 0.107), 100px 100px 80px rgba(0, 0, 0, 0.1); */
}

/*============= END LANDING PAGE =============*/

/*============= START ABOUT SECTION =============*/

#about {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

#about .container {
  flex-flow: row;
  max-width: 1400px;
}

.about-text .about-title {
  font-family: var(--font-catamaran-bold);
  font-weight: 600;
  font-size: 32px;
  color: var(--dark-color);
}

.about-text .about-subtitle {
  position: relative;
  padding-left: 16px;
  margin-bottom: 0;
  display: inline-block;
  font-size: 14px;
  color: var(--primary-color);
  font-family: var(--font-catamaran-bold);
}

.about-text .about-subtitle::after {
  width: 9px;
  height: 2px;
  background-color: var(--primary-color);
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.about-text p {
  color: #969696;
  font-size: 16px;
  margin-bottom: 16px;
}

#about .about-img {
  padding-right: 50px;
}

#about .about-img img {
  max-width: 80%;
  float: right;
  height: auto;
}

/*============= END ABOUT SECTION =============*/

/*============= START PRODUCTS SECTION =============*/

#products {
  margin-top: 4rem;
  padding-bottom: 7rem;
  max-width: 1400px;
}

.products-heading h2 {
  color: var(--dark-color);
  font-size: 28px;
  font-family: var(--font-catamaran-bold);
}

.products-heading p {
  color: #969696;
}

.gallery {
  margin-top: 2rem;
}

.gallery .gallery-item {
  padding-left: 5px;
  padding-right: 5px;
}

.gallery .gallery-item img {
  max-width: 100%;
  height: auto;
}

.custom-shape-divider-top-1646181805 {
  position: absolute;
  bottom: -128px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1646181805 svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 129px;
}

.custom-shape-divider-top-1646181805 .shape-fill {
  fill: var(--dark-color);
}

/*============= END PRODUCTS SECTION =============*/

/*============= START TESTIMONIALS SECTION =============*/

#testimonials {
  padding-top: 11rem;
  padding-bottom: 7rem;
  background: url(../img/testimonial.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

#testimonials * {
  transition: none;
}

#testimonials .container {
  max-width: 900px;
}

#testimonials .testimonial-carousel .splide__arrow {
  background: transparent;
  width: 3em;
  height: 3em;
}

#testimonials .testimonial-carousel .splide__arrow svg {
  fill: var(--primary-color);
  width: 3.5em;
  height: 3.5em;
} 

#testimonials .testimonial-carousel .splide__slide:hover {
  cursor: grab;
}

#testimonials .testimonial-carousel .splide__slide:active {
  cursor: grabbing;
}

#testimonials .testimonial-carousel .splide__pagination__page.is-active {
  background-color: var(--primary-color);
  opacity: 0.9;
}

#testimonials .testimonial-carousel .splide__pagination__page.is-active:hover {
  opacity: 1;
}

#testimonials .testimonial-carousel .splide__pagination__page {
  width: 11px;
  height: 11px;
  margin: 5px;
}

#testimonials .testimonial-carousel .splide__arrow--next {
  right: -4em;
}

#testimonials .testimonial-carousel .splide__arrow--prev {
  left: -4em;
}

#testimonials .testimonial-carousel .splide__pagination {
  bottom: -1.5em;
}

#testimonials .testimonial-carousel .splide__slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

#testimonials .testimonial-carousel p {
  font-size: 19px;
  margin-bottom: 1em;
  font-family: var(--font-catamaran);
  color: #e6e6e6;
}

#testimonials .testimonial-carousel blockquote {
  font-family: var(--font-catamaran-bold);
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--primary-color);
  text-transform: uppercase;
}

/*============= END TESTIMONIALS SECTION =============*/

/*============= START CONTACT SECTION =============*/
#contact {
  background-color: #111;
  color: #fff;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#contact .grid-10 h1 {
  font-size: 4.2rem;
  line-height: 5.2rem;
  font-family: var(--font-catamaran-light);
  margin-bottom: 3rem;
}

.contact-column p {
  font-size: 25px;
  font-family: var(--font-catamaran-light);
}

.contact-column a {
  font-family: var(--font-catamaran-light);
  color: #919191;
}

.contact-column a.default {
  cursor: default;
}

.contact-column a:hover {
  color: #fff;
}
/*============= END CONTACT SECTION =============*/

/*============= START FOOTER =============*/

footer {
  text-align: center;
  color: #919191;
  background: #111;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*============= END FOOTER =============*/