/*============= ROOT =============*/ 
:root {
  --primary-color: #793ea5;
  --dark-color: #2F3136;
  --light-color: #fff;
  --contrast-color: #f8f7ff;

  --font-catamaran-light: 'Catamaran Light', sans-serif;
  --font-catamaran: 'Catamaran', sans-serif;
  --font-catamaran-bold: 'Catamaran Bold', sans-serif;
}

.offset:before {
  content: "";
  height: 120px;
  display: block;
  margin-top: -120px;
}

.bg-xdark {
  background-color: #000 !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.li-light a {
  color: var(--light-color) !important;
}

.li-light.active {
border-bottom-color: var(--light-color) !important;
}

.li-light:hover {
  border-bottom-color: var(--light-color) !important;
}

.color-light {
  color: var(--light-color) !important;
}

.svg-light {
  fill: var(--light-color) !important;
}

.toggle-light i,
.toggle-light i::before,
.toggle-light i::after {
  background: #fff !important;
}

.fslightbox-absoluted {
  transition: none;
}

@font-face {
  font-family: 'Catamaran Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/catamaran-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/catamaran.woff2') format('woff2');
}

@font-face {
  font-family: 'Catamaran Bold';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/catamaran-bold.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-azo-medium);
}

/*============= START PRELOADER =============*/ 
.pre-loader {
  position: fixed;
  overflow: hidden;
  background: var(--dark-color);
  height: 100%;
  width: 100%;
  z-index: 3000;
  transition: all 0.85s ease;
}

.loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: animloader44 2s linear infinite;
  -webkit-animation: animloader44 2s linear infinite;
}

.pre-loader.loaded {
  opacity: 0;
  z-index: 0 !important;
}

@keyframes animloader44 {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }

  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 2px;
  }

  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px, -14px 0 0 2px,  -38px 0 0 -2px;
  }

  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }

  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px, -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}
/*============= END PRELOADER =============*/

/*============= Start Framework =============*/
.container {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.w-100 {
  width: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

.btn {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-family: var(--font-catamaran-bold);
  background: transparent;
  cursor: pointer;
  padding: 15px 25px;
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn::after {
  width: 0;
  height: 103%;
  top: 50%;
  left: 50%;
  background: var(--primary-color);
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  content: '';
  position: absolute;
  z-index: -1;
  transition: 0.3s ease;
}

.btn:hover {
  color: #fff;
}

.btn:hover::after {
  width: 90%;
  opacity: 1;
}

/*-- Start Spacing --*/	
.p-1 {
	padding: 0.25rem;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.m-auto {
	margin: auto !important;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.d-none {
	display: none;
}
	
.d-block {
	display: block;
}
/*-- End Spacing --*/

/* Start Text */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1, h1 {
  font-size: 2.5rem;
}
/* End Text */

/*-- Start Colors --*/
.bg-dark {
	background-color: var(--dark-color);
}

.text-white {
	color: var(--light-color);
}
/*-- End Colors --*/

/*-- Start Flexbox --*/
.d-flex {
	display: flex;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: flex-end;
}

.flex-1 {
	flex: 1;
}

.order-1 {
	order: 1;
}
	
.order-2 {
	order: 2;
}
	
.order-3 {
	order: 3;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/*-- End Flexbox --*/

/*-- Start Grid System --*/
.grid, .grid-1, .grid-10, .grid-11, .grid-12, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-auto, .grid-lg, .grid-lg-1, .grid-lg-10, .grid-lg-11, .grid-lg-12, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-auto, .grid-md, .grid-md-1, .grid-md-10, .grid-md-11, .grid-md-12, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-auto, .grid-sm, .grid-sm-1, .grid-sm-10, .grid-sm-11, .grid-sm-12, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-auto, .grid-xl, .grid-xl-1, .grid-xl-10, .grid-xl-11, .grid-xl-12, .grid-xl-2, .grid-xl-3, .grid-xl-4, .grid-xl-5, .grid-xl-6, .grid-xl-7, .grid-xl-8, .grid-xl-9, .grid-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.grid {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.grid-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.grid-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.grid-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.grid-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.grid-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.grid-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.grid-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.grid-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.grid-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.grid-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.grid-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.grid-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* Devices under 1200px (lg) */
@media (max-width: 1199.98px) {

 
	/* Framework End */
  .grid-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 992px (md) */
@media (max-width: 991.98px) {


  .grid-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 768px (sm) */
@media (max-width: 767.98px) {
 
	.d-sm-block {
		display: block;
	}
	.navbar-expand-sm {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
	/* Framework End */

  .grid-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 568px (xs) */
@media (max-width: 576.98px) {
  /* Framework Start */

	.navbar-expand-xs {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
	/* Framework End */


  .grid-xs-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-xs-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-xs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-xs-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-xs-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-xs-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-xs-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-xs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-xs-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-xs-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Devices under 382px (xxs) */
@media (max-width: 381.98px) {
  .grid-xxs-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-xxs-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-xxs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-xxs-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-xxs-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-xxs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-xxs-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .grid-xxs-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-xxs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-xxs-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .grid-xxs-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-xxs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*-- End Grid System --*/
/*============= End Framework =============*/

/*============= Start General Utilities =============*/
/*-- Start Buttons --*/
button:focus,
a:focus,
a.btn:focus {
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

button,
a,
a.btn {
  transition: all 0.6s ease;
}

a, a:hover {
  text-decoration: none;
}
/*-- End Buttons --*/

.list-inline {
  padding-left: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
/*============= End General Utilities =============*/